<%= form_for @institution do |f| %>
    <% if @institution.errors.any? %>
        <div class="topbar topbar-danger" id="error-message">
          <div class="container">
            <button type="button" class="close" data-dismiss="message">&times;</button>
            <h2 class="text-center"><%= pluralize(@institution.errors.count,"error")%> prevented this institution from being Saved</h2><br>
            <ol class=" notice topbar-warning">
              <% @institution.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ol>
          </div>
        </div>
    <% end %>
    <br>
    <section id="wrapper">
      <%= f.file_field :institution_image, id:"custom-input-file" %>
    </section>
    <br>
    <div class="form-group float-label-control">
      <%= f.label :title, 'Institution Name' %><br>
      <%= f.text_field :title,class:"form-control", placeholder:'Institution Name', required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :website,"Web Link" %><br>
      <%= f.text_field :website, class:"form-control", placeholder:'https://', required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :description,"Description" %><br>
      <%= f.text_area :description,class:"form-control", placeholder:"Description", rows:1 %>
    </div>


    <%= f.submit 'Save', class: "button button_highlight button_block" %>
    <br><br><br>

<% end%>





