<% provide(:title,'My Certified Institutions')%>
<%= render 'shared/info_card' %>
<br><br>

<div class="container-fluid">
  <div class="education section">
    <div class="section-inner">
      <h2 class="heading"> Institutions & Certificates
        <% if user_signed_in? %>
                <span class="new">
                    <%= link_to new_institution_path,  method: :get,title:'add new institution'  do %>
                        <i class="fa fa-pencil  pull-right"></i>
                    <% end %>
                </span>
        <% end %>
      </h2>

  <section>
    <div class="container">
      <% @institutions.each do |institution|%>
      <div class="collapse-card">
        <div class="title">

          <%= image_tag institution.institution_image.url(:medium),class:"profile_image image-responsive pull-left small-avatar img-responsive" %>
          <span>
            <i class="fa fa-angle-right"></i>
          </span>
          <strong><%= institution.title %></strong>
        </div>
        <div class="body">
          <%= institution.description %>
          <span class="pull-right">
             &nbsp;&nbsp;
            <%= link_to  institution_path(institution),method: :get, class:"pull-right" do %>
               My achievements <i class="fa fa-angle-double-right"></i>
            <% end %>&nbsp;&nbsp;
                <% if user_signed_in? %>
                    <%= link_to new_institution_certificate_path(institution),title:"add new certificate" do %>
                        <i class="fa fa-pencil"></i>
                    <% end %>&nbsp;&nbsp;
                <%= link_to edit_institution_path(institution),title:"edit institution"  do %>
                        <i class="fa fa-edit"></i>
                    <% end %>&nbsp;&nbsp;
                <%= link_to institution_path(institution),title:"delete institution", method: :delete, data: {confirm: "Are you sure you want to delete this post?"} do %>
                        <i class="fa fa-trash-o"></i>
                    <% end %>&nbsp;&nbsp;
                <% end %>
              </span>
        </div>
      </div>
      <% end %>
    </div>
  </section>
      </div></div>
</div>
<br><br><br>


