<% provide(:title,'New Institution')%>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to institutions_path,class:"btn btn-info" do %><i class="fa">institution</i><% end %>
          <%= link_to new_institution_path,class:"btn btn-info" do %><i class="fa">new institution</i><% end %>

        </div>
      </div>
    </div>
  </ul>
</header>
<div class="container-fluid">
  <div class="section">
    <div class="section-inner">
        <h2 class="heading">New Institution</h2>
        <%= render 'institutions/form' %>
    </div>
  </div>
</div>