<% provide(:title,"My #{@institution.title} certificates")%>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path,class:"btn btn-info", method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to institutions_path,class:"btn btn-info" do %><i class="fa"> institutions</i><% end %>
          <!--<%#= link_to institution_certificates_path(@institution),class:"btn btn-info" do %><i class="fa"> certificates</i><%# end %>-->
          <%= link_to institution_path(@institution),class:"btn btn-info" do %><i class="fa"> <%= @institution.title %></i><% end %>

        </div>
      </div>
      <div class="col-md-3">
        <% if user_signed_in? %>
            &nbsp;<span class="control">
                <%= link_to new_institution_certificate_path(@institution, @certificate), class:"active btn btn-info btn-lg pull-right" do %>
                    <i class="fa fa-edit"> Add New Certificate</i>
                <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </ul>
</header>

<!--Institution/Certificates-->

<div class="container-fluid">
  <div class="section">
    <div class="section-inner">
      <h2 class="heading"> Achievements</h2>
      <div class="table-responsive">
        <table class="table table-hover table-expandable table-striped ">
          <thead>
          <tr>
            <th><i class="fa fa-expand"></i></th>
            <th>Title</th>
            <th>Score</th>

          </tr>
          </thead>
          <tbody>
          <% @certificates.each do |certificate|%>
              <tr>
                <td><%= image_tag certificate.institution_logo.url(:thumb), class:'profile_image small-avatar image-responsive'%>
                </td>
                <td><%= certificate.course_title %></td>
                <td><%= certificate.score %></td>


              </tr>
              <tr>
                <td colspan="5"><h4>Title: <%= certificate.course_title %></h4>
                <h6>Score: <%= certificate.score %></h6>
                  <h5 class="course_issuer">Institution: <%= certificate.course_issuer %></h5>
                  <h5>Instructor:  <%= certificate.course_instructor %> </h5>
                  <%= link_to certificate.course_link, target:'_blank' do %>
                      <h5><i class="fa fa-external-link"></i> View Certificate</h5>
                  <% end %>

                  <p class="course_description"><%= simple_format certificate.description %></p>
                  <span class="pull-right">
             &nbsp;&nbsp;

                    <% if user_signed_in? %>

                         <%= link_to edit_institution_certificate_path(certificate.institution_id, certificate.id),title:"edit certificate"  do %>
                        <i class="fa fa-edit"></i>
                    <% end %>&nbsp;&nbsp;
                        <%= link_to institution_certificate_path(certificate.institution_id, certificate.id) ,title:"delete certificate", method: :delete, data: {confirm: "Are you sure you want to delete establishment"} do %>
                        <i class="fa fa-trash-o"></i>
                    <% end %>&nbsp;&nbsp;
                <% end %>
              </span>

                </td>
              </tr>
          <% end %>
          </tbody>
        </table><br><br>
      </div>
    </div><!--//section-inner-->
  </div><!--//section-->
</div><!--//container-fluid-->
<br><br>

<script>
    (function ($) {
        $(function () {
            $('.table-expandable').each(function () {
                var table = $(this);
                table.children('thead').children('tr').append('<th></th>');
                table.children('tbody').children('tr').filter(':odd').hide();
                table.children('tbody').children('tr').filter(':even').click(function () {
                    var element = $(this);
                    element.next('tr').toggle('slow');
                    element.find(".table-expandable-arrow").toggleClass("up");
                });
                table.children('tbody').children('tr').filter(':even').each(function () {
                    var element = $(this);
                    element.append('<td><div class="table-expandable-arrow"></div></td>');
                });
            });
        });
    })(jQuery);
</script>

