<%provide(:title, 'Edit Profile')%>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-12">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to edit_user_registration_path,class:"btn btn-info"  do %><i class="fa"> </i>profile<% end %>
        </div>
      </div>

    </div>
  </ul>
</header>


<div class="container-fluid">
  <div class="section">
    <div class="section-inner">
        <h2 class="heading">Edit Profile </h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <% if resource.errors.any? %>
          <div class="topbar topbar-danger" id="error-message">
            <div class="container">
              <button type="button" class="close" data-dismiss="message">&times;</button>
              <%= devise_error_messages! %>
            </div>
          </div>
              <% end %>


          <br>
          <section id="wrapper">
            <span>Image Profile</span>
            <%= f.file_field :image, id:"custom-input-file" %>
          </section>
          <br>

          <div class="form-group float-label-control">
            <%= f.label :name %><br>
            <%= f.text_field :name,class:"form-control", placeholder:"Your name", required:true %>
          </div>

          <div class="form-group float-label-control">
            <%= f.label :email %><br>
            <%= f.text_field :email,class:"form-control", type:"email",placeholder:"Your Email", required:true %>
          </div>

          <div class="form-group float-label-control">
            <%= f.label :address %><br>
            <%= f.text_field :address,class:"form-control", placeholder:"Your Address" %>
          </div>

          <div class="form-group float-label-control">
            <%= f.label :profession %><br>
            <%= f.text_field :profession,class:"form-control", placeholder:"Your Profession", required:true %>
          </div>

          <div class="form-group float-label-control">
            <%= f.label :about %><br>
            <%= f.text_area :about,class:"form-control", placeholder:"About Yourself" %>
          </div>

          <br><br>
        <h2 class="heading"> Social Links</h2>
        <br>
          <div class="form-group float-label-control">
            <%= f.label :website,"Website Link" %><br>
            <%= f.text_field :website,class:"form-control", placeholder:"Your Website Link" %>
          </div>

          <div class="form-group float-label-control">
            <%= f.label :facebook %><br>
            <%= f.text_field :facebook,class:"form-control", placeholder:"Facebook Link" %>
          </div>

          <div class="form-group float-label-control">
            <%= f.label :twitter %><br>
            <%= f.text_field :twitter,class:"form-control", placeholder:"Twitter Link" %>
          </div>

          <div class="form-group float-label-control">
            <%= f.label :googleplus %><br>
            <%= f.text_field :googleplus,class:"form-control", placeholder:"Googleplus Link" %>
          </div>

          <div class="form-group float-label-control">
            <%= f.label :github %><br>
            <%= f.text_field :github,class:"form-control", placeholder:"Github Link" %>
          </div>

          <div class="form-group float-label-control">
            <%= f.label :linkedin %><br>
            <%= f.text_field :linkedin,class:"form-control", placeholder:"LinkedIn Link" %>
          </div>



        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
          <br><br>
          <h2 class="heading"> Change Password</h2>
          <br>

          <div class="form-group float-label-control">
            <%= f.label :password %><br>
            <%= f.text_field :password,class:"form-control", autocomplete: "off" , placeholder:"leave blank if you don't want to change Password" %>
          </div>

          <div class="form-group float-label-control">
            <%= f.label :password_confirmation %><br>
            <%= f.text_field :password_confirmation,class:"form-control", autocomplete: "off" , placeholder:"Confirm Password" %>
          </div>

          <br><br>
          <h2 class="heading"> Confirm Changes</h2>
          <br>
        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", required:true %>
        </div>
        <br><br>
        <div class="actions">
          <%= f.submit "Update Profile", class:'button button_highlight button_block' %>
          <br><br>
        </div>
    <% end %>
     </div>
    </div>
</div>
