<%provide(:title,"Sign up")%>
<div class="container">
  <div class="wrapper">
    <h2>Sign up</h2>
    <div id="form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Let me in", class:'active btn btn-block btn-lg btn-cta-primary' %>
          </div>
      <% end %>
      <br><br>
    </div>
    <br><br>
  </div>
</div>
