
<%= form_for @article do |f| %>
    <% if @article.errors.any? %>

        <div class="topbar topbar-danger" id="error-message">
          <div class="container">
            <button type="button" class="close" data-dismiss="message">&times;</button>
            <h2 class="text-center"><%= pluralize(@article.errors.count,"error")%> prevented this article from being Saved</h2><br>
            <ol class=" notice topbar-warning">
              <% @article.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ol>
          </div>
        </div>
    <% end %>
    <br>
    <section id="wrapper">
      <%= f.file_field :article_image, id:"custom-input-file" %>
    </section>
    <br>
    <div class="form-group float-label-control">
      <%= f.label :title %><br>
      <%= f.text_field :title,class:"form-control", placeholder:"Title", required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :caption,"Caption" %><br>
      <%= f.text_field :caption,class:"form-control", placeholder:"sub Title" %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :summary %><br>
      <%= f.text_area :summary,class:"form-control", placeholder:"Excerpt", rows:1 %>
    </div><br><br>

    <div class="form-group">
      <div class="container">
      <%= f.text_area :content,class:"form-control wysihtml5", placeholder:"Add your content here..", rows:10, required:true %>
    </div>
    </div>
    <br><br>
    <div class="form-group">
      <%= f.label :markdown,"Markdown Content" %><br>
      <%= f.text_area :markdown,class:"form-control", rows:5 %>
    </div>
    <div class="form-group float-label-control">
      <%= f.label :tag_list, "Tags ( separated with commas(,)" %><br>
      <%= f.text_field :tag_list,class:"form-control", placeholder: "Tags: separated with commas(,)", required:true %>
    </div>

    <%= f.submit 'Save', class: "button button_highlight button_block" %>
    <br><br><br>

<% end%>
<!--Turbolink uninitialization-->
<script>
    $(document).on('page:load', function(){
        window['rangy'].initialized = false
    })
</script>
<!--Wysiwyg-->
<script type="text/javascript">
    $(document).ready(function(){

        $('.wysihtml5').each(function(i, elem) {
            $(elem).wysihtml5({toolbar: {
                'font-styles': true,
                'color': true,
                'emphasis': {
                    'small': false
                },
                'blockquote': false,
                'lists':false,
                'html': true,
                'link': true,
                'image': true,
                'smallmodals': false
            }});
        });

    })
</script>







