<% provide(:title, 'Edit Article') %>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to articles_path,class:"btn btn-info" do %><i class="fa">articles</i><% end %>
          <%= link_to edit_article_path(@article),class:"btn btn-info" do %><i class="fa"><%= @article.title%></i><% end %>

        </div>
      </div>
    </div>
  </ul>
</header>

<div class="container-fluid">
  <div class="section">
    <div class="section-inner">
      <h2 class="heading">Edit Article</h2>
      <%= render 'articles/form' %>
    </div>
  </div>
</div>
