<% provide(:title, 'My Articles') %>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <!--<div class="btn btn-default">...</div>-->
          <%= link_to articles_path,class:"btn btn-info" do %><i class="fa fa-angle-double-right">articles</i><% end %>
        </div>
      </div>
      <div class="col-md-3">
        <% if user_signed_in? %>
            &nbsp;<span class="control">
                <%= link_to new_article_path, class:"active btn btn-info btn-lg pull-right" do %>
                    <i class="fa fa-edit"> Add New Article</i>
                <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </ul>
</header>


<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <!--Articles-->
            <%= render 'articles/sections/article'%>
      </div>
    </div><!--//End primary-->

  <!--Sidebar-->
    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      <!--Latest Articles-->
      <aside class="testimonials aside section">
        <div class="section-inner">
          <h2 class="heading">Archive</h2><hr>
          <div class="content">
            <div class="item">
                <%= render 'articles/sections/recent_articles'%>
            </div><!--//item-->
          </div><!--//content-->
        </div><!--//section-inner-->
      </aside><!--//section-->

      <!--TAGS CLOUD-->
      <%= render 'articles/sections/cloud_tags'%>
      <!--NewsLetter-->
      <%= render 'articles/sections/newsletter'%>
    </div><!--// End secondary-->
  </div><!--//row-->
</div><!--//masonry-->

