<% provide(:title, "#{@article.title}") %>

<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-12">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to articles_path,class:"btn btn-info" do %><i class="fa">articles</i><% end %>
          <%= link_to article_path(@article), class:"btn btn-info" do %><i class="fa"></i><%= @article.title.downcase.truncate(15) %><% end %>
        </div>
      </div>

    </div>
  </ul>
</header>


<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8">

      <!--Article-->
          <section class="">
            <article class="section-inner article-wrap">
              <% if @article.article_image? %>
                  <%= image_tag @article.article_image.url(:large), class:"img-responsive image-effect" %>
              <% end %>
              <div class="summary">
                <h2 class="text-left"><%= @article.title.titleize %></h2>
                <h5 class=' text-muted '>
                  <%= image_tag asset_path 'favicon-16x16.png' %>
                  <%= 'adam debbagh'.titleize %>
                  <i class="glyphicon glyphicon-eye-open"></i>
                  <%= @article.impressionist_count(filter: :ip_address) %></h5>
                <br>
                <small class='text-muted'><%= @article.created_at.strftime( ' %A, ' ' %b' ' %d' ' %Y') %></small>

                <% if user_signed_in? %>
                    <div class="admin_links">
                      <%= link_to 'edit', edit_article_path(@article), method: :get %>
                      <%= link_to 'delete', article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
                    </div>
                <% end %>
                <br>
                <p><%= @article.content.html_safe %></p>
                <% unless @article.markdown.blank? %>
                    <p><%=  markdown @article.markdown %></p>
                <% end %>
                <br>

                <% @article.tags.any? %>
                <ul class="tags">
                    <% @article.tags.each do |tag| %>
                      <li><%= link_to  tag_path(tag.name), class:"tag" do %>#<%= tag.name %><% end %></li>
                    <% end %>
                </ul>
                <hr>

                <div id="share_box">
                  <p>Share this Article </p>
                  <!-- Twitter -->
                  <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @article.title %> by @AdamDebbagh - &amp;url=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>
                  <!-- Facebook -->
                  <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>

                  <!-- Google Plus -->
                  <a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-google-plus"></i></a>
                </div>
                <hr>
                <!--Related Articles-->
                <div>
                    <%= render 'articles/sections/related_recent_articles_panel'%>
                </div>
                <hr>
                <br>
                <!--Disqus-->
                <%= render 'articles/disqus'%><br>
              </div><!--//content-->
            </article><!--//section-inner-->
          </section><!--//section-->
    </div><!--//End primary-->
    <!--Info Card -->
    <div class="secondary col-md-4 col-sm-12 col-xs-12">
        <%= render 'articles/sections/info_card'%>
    </div><!--// End secondary-->

  </div><!--//row-->
</div><!--//wrapper-->

<script>
    $('.tabAnchor').on('click', function() { // changes container bg to tab color stored in data attr
        var destBg = $(this).data('color');
        $('.tab-content').css('background', destBg);
    });

    $('.shifter').on('click', function(e) { // shifts tabs
        e.preventDefault();
        $('.tabToggle').toggleClass('hidden');
    });
</script>