<% provide(:title, " #Tags") %>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-12">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to articles_path,class:"btn btn-info" do %><i class="fa">articles</i><% end %>
          <%= link_to tag_path,class:"btn btn-info"  do %><i class="fa"> </i>Tags<% end %>
        </div>
      </div>

    </div>
  </ul>
</header>

<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <!--Articles-->
      <% @articles.each do |article| %>
          <section class="">
            <article class="section-inner article-wrap">
              <% if article.article_image? %>
                  <%= link_to article_path(article) do %>
                      <figure>
                        <%= image_tag article.article_image.url(:large), class:"img-responsive image-effect" %>
                  <% end %>
                  <% if article.caption? %>
                      <figcaption class='caption image-effect'>
                        <span class=''><%= article.caption.titleize %></span>
                      </figcaption>
                  <% end %>
                  </figure>
              <% end %>
              <div class="summary">
                <h3 class="text-left"><%=link_to article.title.titleize, article_path(article) %></h3>
                <div class='text-muted'>
                  <div class="row clearfix">
                    <div class=" col-md-4 img-responsive" style="width: 10%">
                      <%= image_tag @candidate.image.url(:thumb), class:" small-avatar " %>
                    </div>
                    <div class=" col-md-8">
                      <h5 class="pull-left"><%= "adam debbagh".titleize %></h5>
                    </div>
                  </div>
                </div>
                <small class='text-muted'><%= article.created_at.strftime( ' %A, ' ' %b' ' %d' ' %Y') %></small>
                <br><br>
                <p><%= simple_format article.summary %></p>
                <div class="more_link">
                  <%= link_to 'Read more', article_path(article), class:" pull-right" %>
                </div>
                <br>
                <br>
              </div><!--//content-->
            </article><!--//section-inner-->
          </section><!--//section-->
      <% end %>
      <div class="pull-right">
        <%= will_paginate @articles %>
      </div>
    </div><!--//End primary-->
    <!--Sidebar-->
    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      <!--Latest Articles-->
      <aside class="testimonials aside section">
        <div class="section-inner">
          <h2 class="heading"> Recent Articles</h2><hr>
          <div class="content">
            <div class="item">
              <%= render 'articles/sections/recent_articles'%>
            </div><!--//item-->
          </div><!--//content-->
        </div><!--//section-inner-->
      </aside><!--//section-->

      <!--TAGS CLOUD-->
      <%= render 'articles/sections/cloud_tags'%>
    </div><!--// End secondary-->
  </div><!--//row-->
</div><!--//masonry-->

