<%= form_for @language do |f| %>
    <% if @language.errors.any? %>
        <div class="topbar topbar-danger" id="error-message">
          <div class="container">
            <button type="button" class="close" data-dismiss="message">&times;</button>
            <h2 class="text-center"><%= pluralize(@language.errors.count,"error")%> prevented this language from being Saved</h2><br>
            <ol class=" notice topbar-warning">
              <% @language.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ol>
          </div>
        </div>
    <% end %>
    <br>
    <div class="form-group float-label-control">
      <span>Rate Your Level in Stars</span>
      <%= f.label :rate %><br>
      <div id="star-rating"></div>
    </div>


    <div class="form-group float-label-control">
      <%= f.label :title,"Language Name" %><br>
      <%= f.text_field :title,class:"form-control", placeholder:"Language Name", required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :level,"Level" %><br>
      <%= f.text_field :level,class:"form-control", placeholder:"Level", required:true %>
    </div>


    <%= f.submit 'Save', class: "button button_highlight button_block" %>
    <br><br><br>

<% end%>


<script>
  $('#star-rating').raty({

      starType    : 'i',
      starOn      : 'fa fa-fw fa-star',
      starOff     : 'fa fa-fw fa-star-o',
      scoreName: 'language[rate]'
  });
</script>