<% provide(:title,'My Tongues')%>
<%= render 'shared/info_card'%><br><br>
<!--Languages-->
<div class="wrapper">
<div class="languages section">
  <div class="section-inner">
    <h2 class="heading">Languages
      <% if user_signed_in? %>
                <span class="new">
                    <%= link_to new_language_path,  method: :get  do %>
                        <i class="fa fa-pencil  pull-right"></i>
                    <% end %>
                </span>
      <% end %>
    </h2>
    <div class="content">
        <%= render 'candidates/languages'%>
    </div><!--//content-->
  </div><br><br><!--//section-inner-->
</div><!--//section-->
</div>
<br><br>


<script>
    $('.star-rating').raty({

        starType    : 'i',
        starOn      : 'fa fa-fw fa-star',
        starOff     : 'fa fa-fw fa-star-o',
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>