<%= form_for @conference do |f| %>
    <% if @conference.errors.any? %>
        <div class="topbar topbar-danger" id="error-message">
          <div class="container">
            <button type="button" class="close" data-dismiss="message">&times;</button>
            <h2 class="text-center"><%= pluralize(@conference.errors.count,"error")%> prevented this conference from being Saved</h2><br>
            <ol class=" notice topbar-warning">
              <% @conference.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ol>
          </div>
        </div>
    <% end %>
    <br>
    <div class="form-group float-label-control">
      <%= f.label :name %><br>
      <%= f.text_field :name,class:"form-control", placeholder:"Conference Name", required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :location %><br>
      <%= f.text_field :location,class:"form-control", placeholder:"Location", required:true %>
    </div>
    <div class="form-group float-label-control">
      <%= f.label :link,"web link" %><br>
      <%= f.text_field :link,class:"form-control", placeholder: "http://" ,required:true%>
    </div>

    <%= f.submit 'Save', class: "button button_highlight button_block" %>
    <br><br><br>
<% end%>
