<% provide(:title, 'My Attended Conferences')%>
<%= render 'shared/info_card'%><br><br>
<div class="wrapper">
<div class="list conferences section">
  <div class="section-inner">
    <h2 class="heading">Conferences</h2>
    <div class="content">
      <% unless  @conferences.empty? %>
          <%= render 'candidates/conferences'%>
      <% end %>
    </div><!--//content-->
  </div><!--//section-inner-->
</div><!--//section-->
</div>
<br><br>