<%= form_for @skill do |f| %>
    <% if @skill.errors.any? %>
        <div class="topbar topbar-danger" id="error-message">
          <div class="container">
            <button type="button" class="close" data-dismiss="message">&times;</button>
            <h2 class="text-center"><%= pluralize(@skill.errors.count,"error")%> prevented this skill from being Saved</h2><br>
            <ol class=" notice topbar-warning">
              <% @skill.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ol>
          </div>
        </div>
    <% end %>


    <div class="form-group float-label-control">
      <%= f.label :skill_title %><br>
      <%= f.text_field :skill_title,class:"form-control", placeholder:"Skill", required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :skill_level,"Skill Level"%><br>
      <%= f.text_field :skill_level,class:"form-control", placeholder:"Skill Level", required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :skill_in_percentage, "Skill in percentage" %><br>
      <%= f.text_field :skill_in_percentage,class:"form-control", placeholder: "Skill in percentage", required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :intro,"Description" %><br>
      <%= f.text_area :intro,class:"form-control", placeholder:"Description", rows:1 %>
    </div>

    <%= f.submit 'Save', class: "button button_highlight button_block" %>
    <br><br><br>

<% end%>
