<%provide(:title,'My Skills')%>
<%= render 'shared/info_card' %>
<br><br>
  <div class="wrapper">
<div class="skills  section">
  <div class="section-inner">
    <h2 class="heading">Skills
      <% if user_signed_in? %>
              <span class="new">
                <%= link_to new_skill_path,  method: :get  do %>
                  <i class="fa fa-pencil  pull-right"></i>
                <% end %>
              </span>
      <% end %>
    </h2>
      <div class="skillset">
        <%= render 'candidates/skills'%>
      </div>
  </div><!--//section-inner-->
  <br><br>
</div><!--//section--><br><br>
</div>
