<%provide(:title,'New Skill')%>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to skills_path,class:"btn btn-info" do %><i class="fa">skills</i><% end %>
          <%= link_to new_skill_path,class:"btn btn-info" do %><i class="fa"> new skill</i><% end %>

        </div>
      </div>
    </div>
  </ul>
</header>

<div class="container-fluid">
  <div class="section">
    <div class="section-inner">
      <h2 class="heading">New Skill</h2>
      <%= render 'skills/form' %>
    </div>
  </div>
</div>
