
<!-- ******HEADER****** -->
<header class="header">
  <div class="container">
    <%= link_to root_path, method: :get do %>
    <% unless @candidate.image.url(:medium).blank? %>

        <%= image_tag @candidate.image.url(:medium), class:"profile-image img-responsive pull-left avatar img-responsive" %>
    <% end %>
    <% end %>
        <div class="profile-content pull-left">
          <% unless @candidate.name.blank? %>
            <h1 class="name"><%= @candidate.name %></h1>
          <% end %>

      <% unless @candidate.profession.blank? %>
          <h2 class="desc"><%= @candidate.profession %></h2>
      <% end %>
      <ul class="social list-inline">
        <li>
          <% unless @candidate.facebook.blank? %>
              <%= link_to @candidate.facebook, target:"_blank" do %>
                  <i class="fa fa-facebook" ></i>
              <% end  %>
          <% end %>
        </li>
        <li>
          <% unless @candidate.twitter.blank? %>
              <%= link_to @candidate.twitter, target:"_blank" do %>
                  <i class="fa fa-twitter" ></i>
              <% end  %>
          <% end %>
        </li>
        <li>
          <% unless @candidate.googleplus.blank? %>
              <%= link_to @candidate.googleplus, target:"_blank" do %>
                  <i class="fa fa-google-plus"></i>
              <% end %>
          <% end %>
        </li>
        <li>
          <% unless @candidate.github.blank? %>
              <%= link_to @candidate.github, target:"_blank" do %>
                  <i class="fa fa-github-alt"></i>
              <% end %>
          <% end %>
        </li>
        <li>
          <% unless @candidate.linkedin.blank? %>
              <%= link_to @candidate.linkedin, target:"_blank" do %>
                  <i class="fa fa-linkedin"></i>
              <% end %>
          <% end %>
        </li>
      </ul>
    </div><!--//profile-->

      <%= link_to  new_contact_path, class:'btn btn-cta-primary pull-right', target:'_blank' do %>
        <i class="fa fa-briefcase"></i> Hire Me
      <% end %>
  </div><!--//container-->
</header><!--//header-->

