<% provide(:title, 'Message Received')%>
<div class="container-fluid">
  <div class="section">
    <div class="section-inner">
      <h1 class=" notice text-center">Thank you for your message!</h1>
      <h3 class="text-center notice">I'll get back to you soon.</h3>
    </div>
  </div>
</div>
