<% provide(:title, 'Hire me')%>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-12">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to new_contact_path,class:"btn btn-info"  do %><i class="fa"> </i>contact<% end %>
        </div>
      </div>

    </div>
  </ul>
</header>


<div class="container">
  <div class="">
    <div class="col-md-8 col-md-offset-2">
    <div id="contact">
      <%= form_for @contact do |f| %>
          <h3>Thank you for contacting me </h3>
          <h4>I will try to reply within 24 hours!</h4>
          <fieldset>
            <%= f.text_field :name, placeholder: 'Your name', required: true %>
          </fieldset>
          <fieldset>
            <%= f.email_field :email, placeholder:"Your Email Address", required: true %>
          </fieldset>
          <fieldset>
            <%= f.text_area :message, placeholder:"Type your Message Here....", as: :text %>

          </fieldset>
          <div class="hidden">
            <%= f.label :nickname %><br>
            <%= f.text_field :nickname, hint: 'leave this field blank' %>
          </div>
          <fieldset>
            <%= f.submit 'Send Message', class: "active btn btn-block btn-lg btn-cta-primary" %>
          </fieldset>
      <% end %>
    </div>
  </div>
</div>
</div>