<!--About Me-->
<section class="about section">
  <div class="section-inner">
    <h2 class="heading">About Me
      <% if user_signed_in? %>
        <span class="new">
            <%= link_to edit_user_registration_path,  method: :get  do %>
                <i class="fa fa-pencil  pull-right"></i>
            <% end %>
        </span>
      <% end %>
    </h2>
    <div class="content">
      <% unless @candidate.about.blank? %>
          <p><%= simple_format @candidate.about %> </p>
      <% end %>
    </div><!--//content-->
  </div><!--//section-inner-->
</section><!--//section-->