<aside class="info basic aside section">
  <div class="section-inner">
    <h2 class="heading sr-only">Basic Information</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li><i class="fa fa-map-marker"></i>
          <% unless @candidate.address.blank? %>
              <span class="sr-only">Location:</span><%= @candidate.address %></li>
          <% end %>

          <div id="map-canvas"></div>
          <style>
              #map-canvas {
                  width: 100%;
                  height: 200px;
              }
          </style>
          <script src="https://maps.googleapis.com/maps/api/js"></script>
          <script>
              function initialize() {
                  var mapCanvas = document.getElementById('map-canvas');
                  var mapOptions = {
                      center: new google.maps.LatLng(38.8951, -77.0367),
                      zoom: 14,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                  }
                  var map = new google.maps.Map(mapCanvas, mapOptions);
                  var marker = new google.maps.Marker({
                      position:new google.maps.LatLng(38.8951, -77.0367),
                      title: "I'm here"
                  });
                  marker.setMap(map);
              }
              google.maps.event.addDomListener(window, 'load', initialize);
          </script>
      </ul>
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//aside-->