<!--Certificates-->
<% @certificates.each do |certificate| %>
    <div class="item">
      <h3 class="title"><i class="fa fa-graduation-cap"></i>&nbsp;<%= certificate.course_title %></h3>
      <h4 class="university"><%= certificate.institution_title%><br><span class="year"><%=certificate.score %></span></h4>
    </div><hr><!--//item-->
<% end %>
