
      <ul class="list-unstyled">
        <% @conferences.each do |conference|%>
            <li><i class="fa fa-calendar"></i><a href="<%= conference.link %>" target="_blank">
              <%= conference.name %></a>
              <%= conference.location %>
            <h5 class="pull-right">
                <% if user_signed_in? %>
                    <%= link_to edit_conference_path(conference) do %>
                        <i class="fa fa-edit"></i>
                <% end %>&nbsp;
                  <%= link_to conference_path(conference), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} do %>
                        <i class="fa fa-trash-o"></i>
                  <% end %>
                <% end %>
            </h5><hr>
        <% end %>
      </ul>
