<!--Education -->
<% @educations.each do |education| %>
<div class="item">
  <h3 class="title"><i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;<%= education.major %>
    <span class="pull-right"><h5>
      <% if user_signed_in? %>
      <%= link_to edit_education_path(education) do %>
      <i class="fa fa-edit"></i>
      <% end %>&nbsp;
      <%= link_to education_path(education), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} do %>
      <i class="fa fa-trash-o"></i>
      <% end %>
      <% end %>
    </h5></span>
  </h3>
  <h4 class="university"><%= education.university %><br><span class="year"><%= education.year %></span></h4>
</div><hr><!--//item-->
<% end %>
