<section class="experience section">
  <div class="section-inner">
    <h2 class="heading">Work Experience
      <% if user_signed_in? %>
        <span class="new">
            <%= link_to new_experience_path,  method: :get  do %>
                <i class="fa fa-pencil  pull-right"></i>
            <% end %>
        </span>
      <% end %>
    </h2>
    <div class="content">
      <%= link_to experiences_path, method:'get' ,class:'more-link pull-right' do %><i class="fa fa-external-link"></i> View all<% end %><br><br>
      <div class="col-md-8 col-md-offset-2">
        <div class=" popup-modal">
            <div id="popup-content" class="hide">
              <h5>Arrange for a meeting. i'll be happy to answer your questions</h5><br>
              <%= form_for @contact do |f| %>
                      <div class="form-group float-label-control">
                        <%= f.label :name %>
                        <%= f.text_field :name,class:"form-control", placeholder:"Your name", required:true %>
                      </div>
                      <div class="form-group float-label-control">
                        <%= f.label :email %>
                        <%= f.text_field :email,class:"form-control", placeholder:"Your Email", required:true %>
                      </div>
                      <div class="form-group float-label-control">
                        <%= f.label :message %>
                        <%= f.text_area :message,class:"form-control", placeholder:"I'm listening.." %>
                      </div>
                      <div class="hidden">
                        <%= f.label :nickname %><br>
                        <%= f.text_field :nickname, hint: 'leave this field blank' %>
                      </div>
                      <fieldset>
                        <%= f.submit 'Send', class: "active btn btn-block btn-lg btn-cta-primary" %>
                      </fieldset>
                  <% end %>
            </div>
        </div>
      </div>
      <a id="btn-open" href="#" class="btn btn-info">My current position</a>
      <hr>
      <% @experiences.each do |experience|%>
          <div class="item">
            <p class="title"><%= experience.title%> - <span class="place"><a href= <%= experience.website %> target='_blank'><%= experience.organization %></a></span>
              <span class="year"><%= experience.period %></span>
              <span class="pull-right">
                <% if user_signed_in? %>
                    <%= link_to edit_experience_path(experience) do %>
                        <i class="fa fa-edit"></i>
                    <% end %>&nbsp;
                    <%= link_to experience_path(experience), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} do %>
                        <i class="fa fa-trash-o"></i>
                    <% end %>
                <% end %>
              </span>

            </p>
            <p><%= simple_format experience.description%></p>
            <hr>
          </div><!--//item-->
      <% end %>
      <%= link_to experiences_path, method:'get' ,class:'more-link pull-right' do %><i class="fa fa-external-link"></i> View more<% end %><br><br>

    </div><!--//content-->
  </div><!--//section-inner-->
</section><!--//section-->

