<!--Institutions-->
<% @institutions.each do |institution| %>
    <div class="item">
      <%= link_to institution_path(institution), method: :get do%>
          <h3 class="title"><i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;<%= institution.title %></h3>
      <% end %>

    </div><hr><!--//item-->
<% end %>
