<!--Languages-->
<ul class='list-unstyled'>
  <% @languages.each do |language|%>
      <li class='item'>
        <span class='title'><strong><%= language.title %></strong></span>
        <h5 class='pull-right'>
            <% if user_signed_in? %>
                <%= link_to edit_language_path(language) do %>
                    <i class='fa fa-edit'></i>
                <% end %>&nbsp;
              <%= link_to language_path(language), method: :delete, data: {confirm: 'Are you sure you want to delete this post?'} do %>
                    <i class='fa fa-trash-o'></i>
                <% end %>
            <% end %>
        </h5>
        <br>
        <span class='level'><%= language.level %> <br class='visible-xs'/>
            <div class='star-rating' data-score= <%= language.rate %> ></div>
        </span>

      </li><!--//item-->
  <% end %>
</ul>
