<section class="latest section">
  <div class="section-inner">
    <h2 class="heading">Latest Projects
      <% if user_signed_in? %>
        <span class="new">
            <%= link_to new_project_path,  method: :get  do %>
                <i class="fa fa-pencil  pull-right"></i>
            <% end %>
        </span>
      <% end %>
    </h2>
    <% if @featured_project %>
    <div class="content">
      <!--Featured Item-->
      <div class="item featured text-center">
        <h3 class="title"><%= @featured_project.title %></h3>
        <p class="summary"><%= @featured_project.subtitle %></p>
        <div class="featured-image">
          <%= link_to project_path(@featured_project), method:'get' do %>
          <%= image_tag @featured_project.project_image.url(:large) , class:"img-responsive image-effect" %>
          <div class="ribbon">
            <div class="text">Featured</div>
          </div>
              <% end %>
        </div>
        <div class="desc text-left">
          <p><%= simple_format @featured_project.description %></p>
        </div><!--//desc-->

        <%= link_to new_contact_path, method:'get' ,class:"btn btn-cta-secondary" do %>
            <i class="fa fa-credit-card"></i> Back my project
        <% end %>&nbsp;
        <%= link_to new_charge_path, method:'get' ,class:"btn btn-cta-success" do %>
            <i class="fa fa-coffee"></i> Buy me Coffee
        <% end %>
      </div><!--//item-->
      <% end %>
      <hr class="divider" />
      <%= link_to projects_path, method:'get' ,class:"more-link pull-right" do %><i class="fa fa-external-link"></i> View all<% end %><br><br>

      <!--Project Item-->
      <% @projects.each do |project|%>
          <div class="item row">
            <%= link_to project, method:'get', class:'col-md-4 col-sm-4 col-xs-12' do %>
                <%= image_tag project.project_image.url(:medium) , class:"img-responsive image-effect" %>
            <% end %>
            <div class="desc col-md-8 col-sm-8 col-xs-12">
              <h3 class="title">
                <%= link_to project, method:'get' do %>
                    <%= project.title %>
                <% end %>
                <span class="pull-right">
                        <% if user_signed_in? %>
                            <%= link_to edit_project_path(project) do %>
                                <i class="fa fa-edit"></i>
                            <% end %>&nbsp;
                      <%= link_to project_path(project), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} do %>
                                <i class="fa fa-trash-o"></i>
                          <% end %>
                        <% end %>
                    </span>
              </h3>
              <p> <%= project.description %></p>
              <span><%= link_to project_path(project), method:'get' do %>
                        <i class="fa fa-external-link"></i> Find out more
                    <% end %>
              </span>
              <span><a class="more-link pull-right" href="<%= project.github_link %>" target="_blank">
                <i class="fa fa-file-code-o"></i> View source code</a></span>
              <hr>
            </div><!--//desc-->
          </div><!--//item-->
      <% end %>
    </div><!--//content-->
  </div><!--//section-inner-->
</section><!--//section-->