<!--Skills-->

        <% @skills.each do |skill |%>
        <div class="item">
            <h3 class="level-title"><%= skill.skill_title %><span class="level-label"
               data-toggle="tooltip" data-placement="left"
               data-animation="true"
               title="<%= skill.intro %>"><%= skill.skill_level %>&nbsp;
               <% if user_signed_in? %>
                <%= link_to edit_skill_path(skill) do %>
                  <i class="fa fa-edit"></i>
                <% end %>&nbsp;
                <%= link_to skill_path(skill), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              <% end %>


            </span></h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level=<%= skill.skill_in_percentage %>></div>
            </div><!--//level-bar-->



        </div><!--//item-->
        <% end %>
