<!--Testimonials-->
<% @testimonials.each do |testimonial|%>
    <div class="item">
      <blockquote class="quote">
        <p><i class="fa fa-quote-left"></i><%= testimonial.quote %></p>
      </blockquote>
      <p class="source"><span class="name"><%= testimonial.name %></span><br /><span class="title"><%= testimonial.company %></span></p>
      <h5 class="pull-right">
        <% if user_signed_in? %>
            <%= link_to edit_testimonial_path(testimonial) do %>
                <i class="fa fa-edit"></i>
            <% end %>&nbsp;
            <%= link_to testimonial_path(testimonial), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} do %>
                <i class="fa fa-trash-o"></i>
            <% end %>
        <% end %>
      </h5><br>
      <hr class="divider">
    </div><!--//item-->
<% end %>

