<% provide(:title, ' My Profile') %>
<% unless  @candidates.empty? %>
    <%= render 'shared/info_card'%>
<% end %>

<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <!--About Me-->
      <% unless  @candidates.empty? %>
          <%= render 'candidates/about_me'%>
      <% end %>
      <!--Project Item-->
      <% unless  @projects.empty? %>
          <%= render 'candidates/projects' %>
      <% end %>
      <!--Work Experience-->
      <% unless  @experiences.empty? %>
          <%= render 'candidates/experience'%>
      <% end %>
      <!--Github Section-->
      <% unless  @candidate.github.blank? %>
      <section class="github section">
        <div class="section-inner">
          <div id="ghfeed" class="ghfeed">
          </div><!--//ghfeed-->
        </div><!--//secton-inner-->
      </section><!--//section-->
      <% end %>
    </div><!-- End primary-->
    <!--Side Bar -->
    <div class="secondary col-md-4 col-sm-12 col-xs-12">

      <!--Basic Information-->
      <% unless  @candidates.empty? %>
          <%= render 'candidates/basic_info'%>
      <% end %>

      <!--Skills-->
      <aside class="skills aside section">
        <div class="section-inner">
          <h2 class="heading">Skills
            <% if user_signed_in? %>
              <span class="new">
                <%= link_to new_skill_path,  method: :get  do %>
                  <i class="fa fa-pencil  pull-right"></i>
                <% end %>
              </span>
            <% end %>
          </h2>
          <div class="content">
            <p class="intro"></p>
            <div class="skillset">
              <% unless  @skills.empty? %>
                  <%= render 'candidates/skills'%>
              <% end %>
              <p><%= link_to skills_path,  method: :get ,class:"more-link" do %>
                    <i class="fa fa-external-link"></i>More Skills
                 <% end %>
            </div>
          </div><!--//content-->
        </div><!--//section-inner-->
      </aside><!--//section-->

      <!--Education-->
      <aside class="education aside section">
        <div class="section-inner">
          <h2 class="heading">Education
            <% if user_signed_in? %>
                <span class="new">
                    <%= link_to new_education_path,  method: :get  do %>
                        <i class="fa fa-pencil  pull-right"></i>
                    <% end %>
                </span>
            <% end %>
          </h2>
          <div class="content">
            <% unless @educations.empty? %>
                <%= render 'candidates/education'%>
            <% end %>
            <p><%= link_to educations_path, class:"more-link" do %>
                  <i class="fa fa-external-link"></i>More Education
              <% end %>
            </p>
          </div><!--//content-->
        </div><!--//section-inner-->
      </aside><!--//section-->

      <!--Certificates-->
      <aside class="education aside section">
        <div class="section-inner">
          <h2 class="heading">Certificates
            <% if user_signed_in? %>
                <span class="new">
                    <%= link_to new_institution_path,  method: :get  do %>
                        <i class="fa fa-pencil  pull-right"></i>
                    <% end %>
                </span>
            <% end %>
          </h2>
          <div class="content">
            <% unless @certificates.empty? %>
                <%= render 'candidates/institutions'%>
            <% end %>
            <p><%= link_to institutions_path, class:"more-link" do %>
                  <i class="fa fa-external-link"></i>More Certificates
              <% end %>
            </p>
          </div><!--//content-->
        </div><!--//section-inner-->
      </aside><!--//section-->

      <!--Languages-->
      <aside class="languages aside section">
        <div class="section-inner">
          <h2 class="heading">Languages
            <% if user_signed_in? %>
                <span class="new">
                    <%= link_to new_language_path,  method: :get  do %>
                        <i class="fa fa-pencil  pull-right"></i>
                    <% end %>
                </span>
            <% end %>
          </h2>
          <div class="content">
            <% unless @languages.empty? %>
                <%= render 'candidates/languages'%>
            <% end %>
            <p><%= link_to languages_path do %>
                  <i class="fa fa-external-link"></i> More Languages
              <% end %>
            </p>
          </div><!--//content-->
        </div><!--//section-inner-->
      </aside><!--//section-->

      <!--Blog-->
      <aside class="blog aside section">
        <div class="section-inner">
          <h2 class="heading">My Latest Articles
            <% if user_signed_in? %>
                <span class="new">
                    <%= link_to new_article_path,  method: :get  do %>
                        <i class="fa fa-pencil  pull-right"></i>
                    <% end %>
                </span>
            <% end %>
          </h2>
          <!--Latest Articles-->
          <%= render 'articles/sections/recent_articles'%>
          <div id="rss-feeds" class="content">
          </div><!--//content-->
        </div><!--//section-inner-->
      </aside><!--//section-->

      <!--Testimonial-->
      <aside class="testimonials aside section">
        <div class="section-inner">
          <h2 class="heading">Testimonials
            <% if user_signed_in? %>
                <span class="new">
                    <%= link_to new_testimonial_path,  method: :get  do %>
                        <i class="fa fa-pencil  pull-right"></i>
                    <% end %>
                </span>
            <% end %>
          </h2>
          <div class="content">
            <% unless  @testimonials.empty? %>
                <%= render 'candidates/testimonial'%>
            <% end %>
            <p>
              <%= link_to testimonials_path do %>
                  <i class="fa fa-external-link"></i> More Testimonials
              <% end %>
            </p>
          </div><!--//content-->
        </div><!--//section-inner-->
      </aside><!--//section-->

      <!--Conferences-->
      <aside class="list conferences aside section">
        <div class="section-inner">
          <h2 class="heading">Conferences
            <% if user_signed_in? %>
                <span class="new">
                    <%= link_to new_conference_path,  method: :get  do %>
                         <i class="fa fa-pencil  pull-right"></i>
                    <% end %>
                </span>
            <% end %>
          </h2>
          <div class="content">
            <% unless  @conferences.empty? %>
                <%= render 'candidates/conferences'%>
            <% end %>
            <p><%= link_to conferences_path do %>
                  <i class="fa fa-external-link"></i> More Conferences</p>
               <% end %>
              </div><!--//content-->
        </div><!--//section-inner-->
      </aside><!--//section-->
      <!--Tweeter feed-->
      <aside class="list conferences aside section">
        <div class="section-inner">
          <h2 class="heading">Tweets</h2>
          <div class="content">
            <a class="twitter-timeline" href="https://twitter.com/AdamDebbagh" data-widget-id="622138476734115840">Tweets by @AdamDebbagh</a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                if(!d.getElementById(id)) {
                    js=d.createElement(s);js.id=id;
                    js.src=p+"://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);}
                }(document,"script","twitter-wjs");
            </script>
          </div><!--//content-->
        </div><!--//section-inner-->
      </aside><!--//section-->


    </div><!--//secondary-->
  </div><!--//row-->
</div><!--//container-->


<!-- Javascript-->
<!-- github activity plugin-->
<% javascript_tag ('assets/mustache.min.js')%>
<% javascript_tag ('assets/github-activity-0.1.0.min.js')%>
<!-- Rating plugin-->
<script type="text/javascript">
    $('.star-rating').raty({

        starType    : 'i',
        readOnly: true,
        starOn      : 'fa fa-fw fa-star',
        starOff     : 'fa fa-fw fa-star-o',
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>