<%= form_for @project do |f| %>
    <% if @project.errors.any? %>
        <div class="topbar topbar-danger" id="error-message">
          <div class="container">
            <button type="button" class="close" data-dismiss="message">&times;</button>
            <h2 class="text-center"><%= pluralize(@project.errors.count,"error")%> prevented this project from being Saved</h2><br>
            <ol class=" notice topbar-warning">
              <% @project.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ol>
          </div>
        </div>
    <% end %>
    <br>

    <section id="wrapper">
      <%= f.file_field :project_image, id:"custom-input-file" %>
    </section>
    <br>
    <div class="form-group">
      <div class="checkbox-inline">
        <label class="btn btn-info">
          <%= f.check_box :featured %> Featured Project
        </label>
      </div>
    </div>
    <br>

    <div class="form-group float-label-control">
      <%= f.label :title %><br>
      <%= f.text_field :title,class:"form-control", placeholder:"Title", required:true %>
    </div>


    <div class="form-group float-label-control">
      <%= f.label :subtitle %><br>
      <%= f.text_field :subtitle,class:"form-control", placeholder:"Sub Title" %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :link, "Project Link" %><br>
      <%= f.text_field :link,class:"form-control", placeholder: "Project Link" %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :github_link, "Project Link" %><br>
      <%= f.text_field :github_link,class:"form-control", placeholder: "Source Code Link" %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :description %><br>
      <%= f.text_area :description,class:"form-control", placeholder:"Description", rows:1 %>
    </div>

    <%= f.submit 'Save', class: "button button_highlight button_block" %>
    <br><br><br>

<% end%>

