<% provide(:title,'My Projects')%>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path,class:"btn btn-info", method:  :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to projects_path,class:"btn btn-info" do %><i class="fa"> projects</i><% end %>
        </div>
      </div>
      <div class="col-md-3">
        <% if user_signed_in? %>
            &nbsp;<span class="control">
                <%= link_to new_project_path, class:"active btn btn-info btn-lg pull-right" do %>
                    <i class="fa fa-edit"> Add New Project</i>
                <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </ul>
</header>

<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-md-offset-2">
      <% @projects.each do |project|%>
      <!--Project Item-->
      <section class="latest section">
        <div class="section-inner">
          <h2 class="heading"><%= link_to project do %>
                <%= project.title %>
            <% end %></h2>
            <!--Project Item-->
                <div class="item row">
                  <%= link_to project, class:"col-md-4 col-sm-4 col-xs-12" do %>
                      <%= image_tag project.project_image.url(:medium) , class:"img-responsive image-effect" %>
                  <% end %>
                  <div class="desc col-md-8 col-sm-8 col-xs-12">
                    <h3 class="title">
                      <span class="pull-right">
                        <% if user_signed_in? %>
                            <%= link_to edit_project_path(project) do %>
                                <i class="fa fa-edit"></i>
                            <% end %>&nbsp;
                            <%= link_to project_path(project), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} do %>
                                <i class="fa fa-trash-o"></i>
                          <% end %>
                        <% end %>
                    </span>
                    </h3>
                    <p> <%= project.description %>
                      <%= link_to '...read more', project_path(project)%>
                    </p>
                  </div><!--//desc-->
                </div><!--//item-->
        </div><!--//section-inner-->
      </section><!--//section-->
      <% end %>
    </div><!--//primary-->
  </div><!--//row-->
</div><!--//masonry-->

