<% provide(:title,'New Project')%>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info", method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to projects_path,class:"btn btn-info" do %><i class="fa">projects</i><% end %>
          <%= link_to new_project_path,class:"btn btn-info" do %><i class="fa">new project</i><% end %>

        </div>
      </div>
    </div>
  </ul>
</header>

<div class="container-fluid">
  <div class="section">
    <div class="section-inner">
      <h2 class="heading">New Project</h2>
      <%= render 'projects/form' %>
    </div>
  </div>
</div>


