<% provide(:title,"#{@project.title}")%>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path,class:"btn btn-info", method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to projects_path,class:"btn btn-info" do %><i class="fa"> projects</i><% end %>
          <%= link_to project_path(@project),class:"btn btn-info" do %><i class="fa"> <%=@project.title %></i><% end %>
            </div>
      </div>
      <div class="col-md-3">
        <% if user_signed_in? %>
            &nbsp;<span class="control">
                <%= link_to new_project_path, class:"active btn btn-info btn-lg pull-right" do %>
                    <i class="fa fa-edit"> Add New Project</i>
                <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </ul>
</header>

<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-md-offset-2">
      <!--Projects-->
      <section class="latest section">
        <div class="section-inner">
          <h2 class="heading">
            <span class="pull-left">
              <%= link_to  @project.link ,target:"_blank",title:'view website'  do %><i class="fa fa-external-link"></i><%end %>
              </span>
            <%= @project.title %> Project
            <span class="pull-right" title='views count'><i class="glyphicon glyphicon-eye-open"></i>
                <%= @project.impressionist_count(filter: :ip_address) %>
            </span>
          </h2>
          <div class="content">

            <div class="item featured text-center">
              <p class="summary"><%= @project.subtitle %></p>
              <div class="featured-image">
                <%= link_to @project.link,target:'_blank' do %>
                    <%= image_tag @project.project_image.url(:large) , class:"img-responsive project-image" %>
                <% end %>
              </div>
              <div class="desc text-left">
                <p><%= simple_format @project.description %></p>
              </div><!--//desc-->
               </div><!--//item-->
          </div><!--//content-->
        </div><!--//section-inner-->
      </section><!--//section-->
    </div><!--//secondary-->
  </div><!--//row-->
</div><!--//masonry-->
