<%= form_for @experience do |f| %>
    <% if @experience.errors.any? %>
        <div class="topbar topbar-danger" id="error-message">
          <div class="container">
            <button type="button" class="close" data-dismiss="message">&times;</button>
            <h2 class="text-center"><%= pluralize(@experience.errors.count,"error")%> prevented this experience from being Saved</h2><br>
            <ol class=" notice topbar-warning">
              <% @experience.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ol>
          </div>
        </div>
    <% end %>

    <br>
    <div class="form-group float-label-control">
      <%= f.label :title,"Job Title" %><br>
      <%= f.text_field :title,class:"form-control", placeholder:"Job Title", required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :period,"Work Period" %><br>
      <%= f.text_field :period,class:"form-control", placeholder:"Work Period", required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :organization,"Organization Name" %><br>
      <%= f.text_field :organization,class:"form-control", placeholder:"Organization Name", required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :website, "Website Link" %><br>
      <%= f.text_field :website,class:"form-control", placeholder: "http://", required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :description,"Job Description" %><br>
      <%= f.text_area :description,class:"form-control", placeholder:"Job Description", rows:1 %>
    </div>

    <%= f.submit 'Save', class: "button button_highlight button_block" %>
    <br><br><br>

<% end%>


