<% provide(:title,'Edit Experience')%>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to experiences_path,class:"btn btn-info" do %><i class="fa">experiences</i><% end %>
          <%= link_to edit_experience_path(@experience),class:"btn btn-info" do %><i class="fa"><%= @experience.title%></i><% end %>

        </div>
      </div>
    </div>
  </ul>
</header>

<div class="container-fluid">
  <div class="section">
    <div class="section-inner">
      <h2 class="heading">Edit Experience</h2>
      <%= render 'experiences/form' %>
    </div>
  </div>
</div>
