<%provide(:title,'My Experiences')%>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path,class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to experiences_path,class:"btn btn-info" do %><i class="fa"> experiences</i><% end %>
        </div>
      </div>
      <div class="col-md-3">
        <% if user_signed_in? %>
            &nbsp;<span class="control">
                <%= link_to new_experience_path, class:"active btn btn-info btn-lg pull-right" do %>
                    <i class="fa fa-edit"> Add New Experience</i>
                <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </ul>
</header>

<div class="container">
  <div class="row">
    <div class="primary col-md-8 col-md-offset-2">
      <% @experiences.each do |experience|%>
          <section class="experience section">
            <div class="section-inner">
              <h2 class="heading"><%= experience.title%></h2>
              <div class="content">
                <div class="item">
                  <h3 class="title"><%= experience.title%> - <span class="place"><a href= <%= experience.website %> target="_blank"><%= experience.organization %></a></span>
                    <span class="year"><%= experience.period %></span>
                    <span class="pull-right">
                        <% if user_signed_in? %>
                            <%= link_to edit_experience_path(experience) do %>
                                <i class="fa fa-edit"></i>
                            <% end %>&nbsp;
                          <%= link_to experience_path(experience), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} do %>
                                <i class="fa fa-trash-o"></i>
                            <% end %>
                        <% end %>
                    </span>
                  </h3>
                  <p><%= simple_format experience.description %></p>
                </div><!--//item-->
              </div><!--//content-->
            </div><!--//section-inner-->
          </section><!--//section-->
      <% end %>
    </div><!--//primary-->
  </div><!--//row-->
</div><!--//masonry-->
<br><br>
