<%provide(:title, 'Sign in')%>
<div class="container">
  <div class="wrapper  ">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">

    <span href="#" class="login-button" id="toggle-login">Log in</span>

    <div id="login">
      <div id="triangle"></div>
      <h1>Log in</h1>
      <div id="form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Let me in", class:'active btn btn-block btn-lg btn-cta-primary' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
</div>










    <!---------------------------------------------->


<script>
    $('#toggle-login').click(function(){
        $('#login').toggle();
    });
</script>