<% @articles.each do |article| %>
    <section class="">
      <article class="section-inner article-wrap">
        <% if article.article_image? %>
            <%= link_to article_path(article) do %>
                <figure>
                  <%= image_tag article.article_image.url(:large), class:"img-responsive image-effect" %>
            <% end %>
            <% if article.caption? %>
                <figcaption class='caption image-effect'>
                  <span class=''><%= article.caption.titleize %></span>
                </figcaption>
            <% end %>
            </figure>
        <% end %>
        <div class="summary">
          <h3 class="text-left"><%=link_to article.title.titleize, article_path(article) %></h3>
          <div class='text-muted'>
            <div class="row clearfix">
              <div class=" col-md-4 img-responsive" style="width: 10%">
                <%= image_tag @candidate.image.url(:thumb), class:" small-avatar " %>
              </div>
              <div class=" col-md-8">
                <h5 class="pull-left"><%= "adam debbagh".titleize %></h5>
              </div>
            </div>
          </div>
          <small class='text-muted'><%= article.created_at.strftime( ' %A, ' ' %b' ' %d' ' %Y') %></small>
          <br><br>
          <p><%= simple_format article.summary[0..230] %></p>
          <div class="more_link">
            <%= link_to 'Read more', article_path(article), class:" pull-right" %>
          </div>
          <br>
          <br>
        </div><!--//content-->
      </article><!--//section-inner-->
    </section><!--//section-->
<% end %>
<!--Pagination-->
<div class="pull-right">
<%= will_paginate @articles %>