

  <aside class="testimonials aside section">
    <div class="section-inner">
      <h2 class="heading">Cloud Tags </h2><hr>
      <div class="content">
        <div class="item">
                <span class='' id="tag_cloud">
                    <% tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class| %>
                        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
                    <% end %>
                </span>
        </div><!--//item-->


      </div><!--//content-->
    </div><!--//section-inner-->
  </aside><!--//section-->


