

  <aside class=" section">
    <div class="inner">

      <div class="card">
        <div class="card-header">
            <%= image_tag @article.article_image.url(:large), class:"img-responsive image-effect" %>
        </div>
        <div class="card-body">
          <%= image_tag @candidate.image.url(:thumb) %>
          <div class="name"><%= @candidate.name %></div>
          <div class="location"><%= @candidate.address %></div>
          <div class="description"><%= @candidate.about%></div>

        </div>
      </div>
    </div><!--//section-inner-->
  </aside><!--//section-->
