<aside class="testimonials aside section">
  <div class="section-inner">
    <h2 class="heading">NewsLetter </h2>
    <div class="content">
      <div class="item">

        <%= form_for @news_signup do |f| %>
            <% if @news_signup.errors.any? %>

                <div class="topbar topbar-danger" id="error-message">
                  <div class="container">
                    <button type="button" class="close" data-dismiss="message">&times;</button>
                    <h2 class="">Oops!</h2><br>
                    <ol class=" notice topbar-warning">
                      <% @news_signup.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ol>
                  </div>
                </div>
            <% end %>
            <div class="form-group float-label-control">
              <%= f.label :email,"Thanks. i'll keep you updated! NO SPAM" %><br>
              <%= f.text_field :email,class:'form-control', placeholder:'Your email', required:true %>
            </div>

            <%= f.submit 'Signup', class: 'button button_highlight button_block' %>
        <% end%>
      </div><!--//item-->
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
