<% @related_articles.each do |article| %>
    <div class="item">
      <% if article.article_image? %>
          <%= link_to article, method: 'get', class: "" do %>
              <%= image_tag article.article_image.url(:medium), class: "img-responsive image-effect" %>
          <% end %>
      <% end %>
      <div class="desc ">
        <h3 class="title">
          <%= link_to article, method: 'get' do %>
              <%= article.title %>
          <% end %>
        </h3>

        <p> <%= article.content[0..100] %>
          <span><small><%= link_to article do %>...continue
            <% end %></small></span>
        </p>
        <hr>
      </div>
      <!--//desc-->
    </div><!--//item-->
<% end %>
