<div class="tabWrap">
  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="tabToggle active"><a href="#firstPanel" class="tabAnchor firstPanel text-center" data-color="#01bcd6" aria-controls="firstPanel" role="tab" data-toggle="tab">Related</a></li>
    <li class="shifter shifterBack tabToggle hidden"><a class="text-center"><i class="fa fa-angle-double-left"></i></a></li>
    <li role="presentation"><a href="#secondPanel" class="tabAnchor secondPanel text-center" data-color="#2980b9" aria-controls="secondPanel" role="tab" data-toggle="tab">Recent</a></li>
    </ul>
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="firstPanel">
      <div class="tabInner">
        <h2>Related Articles</h2><hr><br>
        <% @related_articles.each do |article| %>
            <div class="item row">
              <% if article.article_image?  %>
                <%= link_to article, method:'get', class:"col-md-4 col-sm-4 col-xs-12" do %>
                    <%= image_tag article.article_image.url(:medium) , class:"img-responsive image-effect" %>
                <% end %>
              <% end %>
              <div class="desc col-md-8 col-sm-8 col-xs-12">
                <h3 class="title">
                  <%= link_to article, method:'get' do %>
                      <%= article.title %>
                  <% end %>
                </h3>
                <p> <%= article.content[0..100] %>
                  <span><small><%= link_to article do %>...continue<% end %></small></span>
                </p>
                <hr>
              </div><!--//desc-->
            </div><!--//item-->
        <% end %>

      </div> <!-- /.tabInner -->
    </div> <!-- /.tabpanel -->

    <div role="tabpanel" class="tab-pane" id="secondPanel">
      <div class="tabInner">

        <h2>Recent Articles</h2><hr><br>
        <% @latest_articles.each do |article|%>
            <div class="item row">
              <% if article.article_image?  %>
                  <%= link_to article, method:'get', class:"col-md-4 col-sm-4 col-xs-12" do %>
                      <%= image_tag article.article_image.url(:medium) , class:"img-responsive image-effect" %>
                  <% end %>
              <% end %>
              <div class="desc col-md-8 col-sm-8 col-xs-12">
                <h3 class="title">
                  <%= link_to article, method:'get' do %>
                      <%= article.title %>
                  <% end %>
                </h3>
                <p> <%= article.content[0..100] %>
                    <span><small><%= link_to article do %>...continue<% end %></small></span>
                </p>
                <hr>
              </div><!--//desc-->
            </div><!--//item-->
        <% end %>
      </div> <!-- /.tabInner -->
    </div> <!-- /.tabpanel -->
  </div> <!-- /.tab-content -->
</div> <!-- /.tabWrap -->