<%= form_for ([@education, @course]) do |f| %>
    <% if @course.errors.any? %>

        <div class="topbar topbar-danger" id="error-message">
          <div class="container">
            <button type="button" class="close" data-dismiss="message">&times;</button>
            <h2 class="text-center"><%= pluralize(@course.errors.count,"error")%> prevented this course from being Saved</h2><br>
            <ol class=" notice topbar-warning">
              <% @course.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ol>
          </div>
        </div>
    <% end %>
<br>
    <section id="wrapper">
      <%= f.file_field :establishment__logo, id:"custom-input-file" %>
    </section>
    <br>
    <div class="form-group float-label-control">
      <%= f.label :establishment, 'Institution Name' %><br>
      <%= f.text_field :establishment,class:"form-control", placeholder:'Institution Name', required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :course_title,"Course Title" %><br>
      <%= f.text_field :course_title, class:"form-control", placeholder:"Course Title", required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :course_grade,"course grade" %><br>
      <%= f.text_field :course_grade,class:"form-control", placeholder:"Course Grade" , required:true%>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :instructor,"Instructor Name" %><br>
      <%= f.text_field :instructor,class:"form-control", placeholder:"Instructor Name" %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :description,"Description" %><br>
      <%= f.text_area :description,class:"form-control", placeholder:"Description", rows:1 %>
    </div>


    <%= f.submit 'Save', class: "button button_highlight button_block" %>
    <br><br><br>

<% end%>




