<% provide(:title, 'Edit Course')%>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to educations_path,class:"btn btn-info" do %><i class="fa">establishments</i><% end %>
          <%= link_to education_path(@education),class:"btn btn-info" do %><i class="fa"> <%= @education.university %></i><% end %>
          <%= link_to edit_education_course_path,class:"btn btn-info" do %><i class="fa"> edit course</i><% end %>

        </div>
      </div>
    </div>
  </ul>
</header>

<div class="container-fluid">
  <div class="education section">
    <div class="section-inner">
      <h2 class="heading">Edit Course</h2>
      <%= render 'courses/form' %>
    </div>
  </div>
</div>
