<%= form_for ([@institution, @certificate]) do |f| %>
    <% if @certificate.errors.any? %>
        <div class="topbar topbar-danger" id="error-message">
          <div class="container">
            <button type="button" class="close" data-dismiss="message">&times;</button>
            <h2 class="text-center"><%= pluralize(@certificate.errors.count,"error")%> prevented this certificate from being Saved</h2><br>
            <ol class=" notice topbar-warning">
              <% @certificate.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ol>
          </div>
        </div>

    <% end %>
    <br>
    <section id="wrapper">
      <%= f.file_field :institution_logo, id:"custom-input-file" %>
    </section>
    <br>
    <div class="form-group float-label-control">
      <%= f.label :institution_title, 'Institution Name' %><br>
      <%= f.text_field :institution_title,class:"form-control", placeholder:'Institution Name',required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :course_title,"Course Title" %><br>
      <%= f.text_field :course_title, class:"form-control", placeholder:"Course Title", required:true %>
    </div>
    <div class="form-group float-label-control">
      <%= f.label :score,"Score" %><br>
      <%= f.text_field :score,class:"form-control", placeholder:"Score", required:true %>
    </div>
    <div class="form-group float-label-control">
      <%= f.label :course_issuer,"Course issuer" %><br>
      <%= f.text_field :course_issuer,class:"form-control", placeholder:"Course issuer" %>
    </div>
    <div class="form-group float-label-control">
      <%= f.label :course_instructor,"Instructor" %><br>
      <%= f.text_field :course_instructor,class:"form-control", placeholder:"Instructor" %>
    </div>
    <div class="form-group float-label-control">
      <%= f.label :course_link,"Certificate link" %><br>
      <%= f.text_field :course_link,class:"form-control", placeholder:"Certificate link" %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :description,"Description" %><br>
      <%= f.text_area :description,class:"form-control", placeholder:"Description", rows:1 %>
    </div>


    <%= f.submit 'Save', class: "button button_highlight button_block" %>
    <br><br><br>

<% end%>
