<% provide(:title, "Edit Certificate") %>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-12">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to institutions_path,class:"btn btn-info" do %><i class="fa">institutions</i><% end %>
          <%= link_to institution_path(@institution), class:"btn btn-info" do %><i class="fa"></i><%= @institution.title.downcase.truncate(15) %><% end %>
          <%= link_to institution_certificates_path,class:"btn btn-info" do %><i class="fa"> certificates</i><% end %>
          <%= link_to institution_certificate_path,class:"btn btn-info" do %><i class="fa"> <%= @certificate.course_title.truncate(10) %></i><% end %>
          <a href="#" class="btn btn-info"><i class="fa"> edit</i></a>
        </div>
      </div>

    </div>
  </ul>
</header>

<div class="container-fluid">
  <div class="section">
    <div class="section-inner">
        <h2 id="page_title">Edit Certificate</h2>
        <%= render 'certificates/form' %>
    </div>
  </div>
</div>