<%# provide(:title, "My Certificates") %>
<%#= render 'shared/info_card' %>
<!--<br><br>

<div class="container-fluid">
  &lt;!&ndash;Institution/Certificates&ndash;&gt;
  <ul class="certificate">

        <h2 class="institution_title"><a href="https://teamtreehouse.com/" target="_blank"><%#= certificate.institution_title %></a></h2>
    <%# @certificates.each do |certificate|%>
    <li class="shadow clearfix">
          <%#= image_tag certificate.institution_logo.url(:thumb), class:'profile_image image-responsive'%>
          <p><%#= link_to certificate.course_title, institution_certificate_path(@institution, certificate), class:"course_title" %></p>
          <p class="score "><%#= certificate.score %></p>
          <p class="course_issuer">From <%#= certificate.course_issuer %>
            <br><span>By <%#= certificate.course_instructor %> </span>
          </p>
          <p class="course_description"><%#= certificate.description %></p>
        </li>
    <%# end %>
  </ul>
  <br><br>

</div>&lt;!&ndash;//container&ndash;&gt;-->


