<% provide(:title, "New Certificate") %>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to institutions_path,class:"btn btn-info" do %><i class="fa">institutions</i><% end %>
          <%= link_to institution_path(@institution),class:"btn btn-info" do %><i class="fa"> <%= @institution.title %></i><% end %>
          <%= link_to new_institution_certificate_path,class:"btn btn-info" do %><i class="fa"> new certificate</i><% end %>

        </div>
      </div>
    </div>
  </ul>
</header>

<div class="container-fluid">
  <div class="section">
    <div class="section-inner">
        <h2 class="heading">New Certificate</h2>
        <%= render 'certificates/form' %>
    </div>
  </div>
</div>