<% provide(:title, "#{@certificate.course_title}") %>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to institutions_path,class:"btn btn-info" do %><i class="fa fa-angle-double-right">institutions</i><% end %>
          <%= link_to institution_path(@institution), class:"btn btn-info" do %><i class="fa fa-angle-double-right"> <%= @institution.title %></i><% end %>
          <%= link_to institution_certificate_path, class:"btn btn-info" do %><i class="fa fa-angle-double-right"> <%= @certificate.course_title.truncate(10) %></i><% end %>

        </div>
      </div>
      <div class="col-md-3">
        <% if user_signed_in? %>
            &nbsp;<span class="control">
                <%= link_to edit_institution_certificate_path, class:"active btn btn-info btn-lg pull-right" do %>
                    <i class="fa fa-edit"> Edit Certificate</i>
                <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </ul>
</header>
<br><br>

<!--SHow certificate diploma here. Empty for now-->