/*
*= require bootstrap-wysihtml5
*/



$highlight: #00c5ff;
$dark: #22292e;
$light: #EDEFF5;
$white:#ffffff;
$white-light:  #dae3e7;
$white-darken:rgba(255, 255, 255, 0.6);
$border:#E9E9E9;
$white:#fff;
$lightblue: #31b0d5;
$darkblue:#324981;
$blue-gray: #34495e;
$blue-gray-darken: #2c3e50;
$blue: #3498db;
$blue-darken: #2980b9;
$green: #1abc9c;
$green-darken: #16a085;

.wrapper_wide {
  width: 90%;

  margin: 0 auto;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper_skinny {
  width: 50%;
  margin: 0 auto;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}
//------------Notification
#notice_wrapper {
  width: 100%;
  position: absolute;
  background: $lightblue;
  z-index: 999;
  p {
    color: $white;
    text-align: center;
    font-weight: 700;
    font-size: 3.25rem;
    padding: 1.5rem 0;
  }
  .notice {
    color: $white-light;
  }
  .alert {
    color: #B00100;
  }
}
//-----------Error Message Notification

/*! topbar.css */

/**
 * Topbar styles.
 */

.topbar {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 10px 0;
  h2 {
    color: #F0AD4E;
  }
}

.topbar-default {
  background-color: #999;
}

.topbar-primary {
  background-color: #428BCA;
}

.topbar-success {
  background-color: #5CB85C;
}

.topbar-info {
  background-color: #5BC0DE;
}

.topbar-warning {
  background-color: #F0AD4E;
}

.topbar-danger {
  background-color: #D9534F;
}


button.close {
  padding: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: 0;
  -webkit-appearance: none;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #FFF;
  opacity: .2;
  filter: alpha(opacity=20);
}



//------------Buttons
.button {
  color: $white;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  display: inline-block;
  min-width: 8.5rem;
}

.button_highlight {
  background: $highlight;
  transition: background .4s ease-in-out;
  &:hover {
    background: darken($highlight, 7.5%);
  }
}

.button_white {
  background: $white;
  color: $dark;
  transition: background .4s ease-in-out;
  &:hover {
    background: darken($white, 7.5%);
  }
}

.button_block {
  display: block;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: bold
}

.field {
  margin: .5rem 0 1.5rem 0;
}

input[type="email"], input[type="text"], input[type="password"], textarea {
  width: 100%;
  height: 3.5rem;
  padding: .25rem 1rem;
  background: $light;
  border: 1px solid darken($light, 5%);
  border-radius: .35rem;
  margin-top: .5rem;
}

textarea {
  min-height: 8rem;
  margin-top: .5rem !important;
}

#form {
  padding: 0 0 5rem 0;
}

.hidden {
  display: none;
}
//----------------Pagination
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear:both;
}

.pagination {
  text-align: center;
  margin: 0 0 3em 0;
  a, .previous_page, .current, .next_page {
    padding: .75em 1em;
    margin: 0 .5em;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    background: $white;
    font-weight: 700;
    font-size: .7em;
    font-style: normal;
    color: $dark;
    &:hover {
      background: $highlight;
      color: $white;
    }
  }
  .current {
    background: $highlight;
    color: $white;
  }
  .disabled {
    color: #C0C0C0;
    &:hover {
      color: #C0C0C0;
      background: $white;
    }
  }
}
//------------NAVIGATION

.navbar {
  border-radius: 0;
}

.navbar-new {
  background-color: #31b0d5;
  border-color: #0FA6A1;
}

.navbar-new .navbar-brand,
.navbar-new .navbar-brand:hover,
.navbar-new .navbar-brand:focus {
  color: #FFF;
}

.navbar-new .navbar-nav > li > a {
  color: #FFF;
}

.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus {
  background-color: #145a9f;
}

.navbar-new .navbar-nav > .active > a,
.navbar-new .navbar-nav > .active > a:hover,
.navbar-new .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #55ACEE;
}

.navbar-new .navbar-text {
  color: #FFF;
}

.navbar-new .navbar-toggle {
  border-color: #0FA6A1;
}

.navbar-new .navbar-toggle:hover,
.navbar-new .navbar-toggle:focus {
  background-color: #1969a6;
}

.navbar-new .navbar-toggle .icon-bar {
  background-color: #FFF;
}
//-----------AVATAR
.avatar {
  width: 150px;
  margin: 0 5px;
  padding: 10px;
  border-radius: 50%; box-shadow: 0 0 10px #ccc;
  transition: box-shadow .2s;
}
.avatar:hover {
  box-shadow: 0 0 10px #999;
  cursor: pointer;
}

.small-avatar {
  width: 50px;
  margin: 0 1px;
  padding: 1px;
  border-radius: 50%;
  box-shadow: 0 0 1px #ccc;
  transition: box-shadow .2s;
}
.small-avatar:hover {
  box-shadow: 0 0 10px #999;
  cursor: pointer;
}

//-----------ScrollUpToTop
#ScrollUpToTop{
  position: fixed;
  right: 10px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  z-index: 1000;

  border: none;
  border-radius: 5px;
  background: rgba(0,0,0, 0.4);
  color: #FFF;
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
}

#ScrollUpToTop:hover{
  background: rgba(0,0,0,0.7);
}
.model,
.modal-content,
.model-open {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}

.modal-content{
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
  -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
  -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
  box-shadow: 0 5px 15px rgba(0,0,0,0);
}
//-----------IMPORTS
@import "bootstrap-sprockets";
@import "bootstrap";
@import "articles";
@import "pygments";
@import "candidates";
@import "certificates";
@import "institutions";
@import "projects";
@import "wysiwigcolors";
@import "experiences";
@import "charges";



