.article-wrap {
  background: #fff;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(204, 204, 204, 0.2);
  -moz-box-shadow: 0px 1px 1px 0px rgba(204, 204, 204, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(204, 204, 204, 0.2);
  padding: 0;
  border: 1px solid #dadada;
  margin-bottom: 30px;
}
.summary {
  padding: 1rem 2rem 1.5rem 3rem;
  font-size: 2.2rem;
  line-height: 180%;
}

.image-effect:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.caption{
  //position:absolute; /* absolute position (so we can position it where we want)*/
  //bottom:0; /* position will be on bottom */
  //left:0;
  top: 0;
  width:100%;
  height: 50px;
  /* styling bellow */
  text-decoration: none;
  background-color:#479fc8;
  margin-top: 0;
  padding-top: 5px;
  //font-family: 'tahoma';
  text-align: center;
  font-size:2.3rem;
  font-weight: bold;
  color:white;
  opacity:0.8; /* transparency */
  filter:alpha(opacity=60); /* IE transparency */
  clear: both;
}

#share_box {
  text-align: center;
  p {
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $darkblue;
    font-size: .8em;
  }
  i {
    color: $lightblue;
    padding: .8em 1em;
    margin-right: 1rem;
    font-weight: 700;

    &:hover {
      color: $highlight;
      cursor: pointer;
      border:dotted;
      border-radius: 100%;
    }
  }
}
//----------TAGS
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: $lightblue;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: $highlight;
  color: white;
}

.tag:hover::after {
  border-left-color: $highlight;
}
//----------Cloud Tags
#tag_cloud {
  width: 400px;
  line-height: 1.9em;
  .s { font-size: 0.8em; color: $blue-darken;}
  .m { font-size: 1.4em;color: $blue; }
  .l { font-size: 2.2em;color: $lightblue; }
}
//-----------Realated Posts
.nav li a:focus, .nav li a:hover {
  background: transparent;
}

.tabWrap {
  margin: 0;
  background: #f5f5f5;
}

.tab-content {
  height: 420px;
  padding: 10px 5px;
  position: relative;
  background: #01bcd6;
  //overflow:auto;
}
.tab-content .tab-pane {
  position: relative;
  bottom: 10px;
}

.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
  border: none;
  color: #ffffff;
  background: none;
}

.nav-tabs li {
  width: 50%;
}
.nav-tabs li a {
  border-radius: 0;
  color: #ffffff;
  border: none;

  margin-right: 0;
}
.nav-tabs .shifter {
  width: 4%;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.nav-tabs .shifterBack {
  background: $blue;

}
.nav-tabs .shifterBack:hover {
  background: $blue-darken;
}
.nav-tabs .shifterBack a:hover {
  background: transparent;
}

.tabAnchor {
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.tabInner {
  padding: 10px;
  margin: 10px;
  height: 380px;
  background: #ffffff;
  border-radius: 3px;
  overflow: auto;
}

.tabToggle {
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.firstPanel, .nav-tabs li a.firstPanel, .nav-tabs li.active a.firstPanel, .nav-tabs li.active a.firstPanel:focus, .nav-tabs li.active a.firstPanel:hover {
  background: #01bcd6;
}
.firstPanel:hover, .nav-tabs li a.firstPanel:hover, .nav-tabs li.active a.firstPanel:hover, .nav-tabs li.active a.firstPanel:focus:hover, .nav-tabs li.active a.firstPanel:hover:hover {
  background: rgba(1, 188, 214, 0.85);
}

.secondPanel, .nav-tabs li a.secondPanel, .nav-tabs li.active a.secondPanel, .nav-tabs li.active a.secondPanel:focus, .nav-tabs li.active a.secondPanel:hover {
  background: $blue;
}
.secondPanel:hover, .nav-tabs li a.secondPanel:hover, .nav-tabs li.active a.secondPanel:hover, .nav-tabs li.active a.secondPanel:focus:hover, .nav-tabs li.active a.secondPanel:hover:hover {
  background: $blue-darken;
}
//----------Info Card

.inner {
  background-color: $lightblue;
  padding: 10px;
}
.card {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.1), 2px 2px 8px rgba(0,0,0,0.1);
  .card-header{
    //width: 320px;
    //height: 220px;
    //border-top-left-radius: 20px;
    //border-top-right-radius: 20px;
    //background: url(http://i.imgur.com/muzcDX7.jpg);
    background-size: cover;
  }
  .card-body {
    position: relative;
    img {
      height: 100px;
      width: 100px;
      border-radius: 10px;
      border: 3px solid rgba(255, 255, 255, .6);
      position: absolute;
      top: -50px;
      left: 50%;
      margin-left: -50px;
      box-shadow: 0 6px 6px -4px rgba(0, 0, 0, .2);
    }
    .name {
      font-size: 32px;
      text-align: center;
      padding-top: 60px;
      margin-bottom: 10px;
    }
    .description {
      padding: 10px 20px;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 55px;
    }
    .location {
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
      padding-top: 10px;
      margin-bottom: 20px;

    }
  }
}
