
.certificate {


  list-style-type: none;
  .institution_title {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .institution_title a  {
    color: slategray;
    text-decoration: none;
  }
  .institution_title a:hover {
    color:$blue-darken;
  }

  .shadow {
    -webkit-box-shadow: 0 8px 6px -6px gray;
    -moz-box-shadow: 0 8px 6px -6px gray;
    box-shadow: 0 8px 6px -6px gray;
  }
  li  {
    max-width: 200px;
    height:420px;
    padding: 10px 25px ;
    background-color: whitesmoke;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
    border: 5px solid lightgray;
    overflow: auto;
    /* inline block hack for IE 6&7 */
    zoom: 1;
    *display: inline;
    color: slategray;

    .course_title {
      margin-top: 20px;
      margin-bottom: 15px;
      font-size: 1.9rem;
      font-weight: 700;

    }
    .score {
      font-size: 2rem;
      font-weight: 900;
      border:5px solid slategray;
      color:$lightblue;
      border-radius: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;

    }
    .course_issuer {
      text-align: center;
      color:$blue-gray-darken;

    }
    .course_description {

    }

    .profile_image {
      width: 100px;
      border-radius: 25px;
      margin-top: 15px;
      //margin-bottom: 15px
    display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .text-centered {
      text-align: center;
      border: 5px solid slategray;
    }
  }

}

//------------Expandable Table
table.table-expandable > tbody > tr:nth-child(odd) {
  cursor: pointer;
}

table.table-expandable.table-hover > tbody > tr:nth-child(even):hover td {
  background-color: white;
}

table.table-expandable > tbody > tr div.table-expandable-arrow {
  //background:transparent url(../images/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;
}

table.table-expandable > tbody > tr div.table-expandable-arrow.up {
  background-position:0px 0px;
}







