// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.amount {
  color:$lightblue;
  text-align: center;
  font-size: large;
}
