.popup-modal {
  overflow: hidden;
  vertical-align: middle;
}
.basicpopup-outer {
  display: table;
  height: 100%;
  left: 0;
  position: absolute;

  width: 100%;
  z-index: 2010; }

.basicpopup-inner {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%; }

.basicpopup-btn-close {
  -webkit-box-shadow: none;
  background: transparent;
  border: 0;
  box-shadow: none;
  color: #333;
  cursor: pointer;
  display: block;
  filter: alpha(opacity=65);
  font-family: Arial, Baskerville, monospace;
  font-size: 28px;
  font-style: normal;
  height: 44px;
  line-height: 44px;
  opacity: 0.65;
  outline: none;
  padding: 0 0 18px 10px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  //top: 0;
  width: 44px;
  z-index: 1046;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.basicpopup-btn-close:hover, .basicpopup-btn-close:focus {
  opacity: 1; }

.basicpopup-content {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  width: 320px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
