.institution {
  list-style-type: none;

  li {

    max-width:45%;
    min-width: 240px;

    //max-height:195px;
    //padding: 10px 25px ;
    background-color: whitesmoke;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
    border: 5px solid lightgray;
    //overflow: auto;
    /* inline block hack for IE 6&7 */
    zoom: 1;
    *display: inline;
    color: slategray;

    .profile_image {
      width:100%;
      height:100%;
      display: block;
      float:left;
      margin-bottom: 0px;

    }
    .institution_title {
      text-align: center;
      margin: 15px auto;
      //padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid slategray;

    }
    .institution_description {
      width:300px;
      font-size: 1.9rem;
      padding: 3px 15px 1px 2px;
      overflow: auto;
      overflow-x: scroll;
      height: 25px;
    }
    a {
      font-size: 1.5rem;
      color:slategray;
      padding-right: 10px;
    }
    a:hover {
      background-color: rgb(49, 176, 213);
      padding: 3px;
      margin-left: 20px;
      font-size: 1.8rem;
      color: #fff;
    }
  }
  .shadow {
    -webkit-box-shadow: 0 8px 6px -6px gray;
    -moz-box-shadow: 0 8px 6px -6px gray;
    box-shadow: 0 8px 6px -6px gray;

  }

}

//-------------Collapse Table
.collapse-card {
  //height: 50px;
  margin-bottom: 25px;
  background-color: white;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  color: #777777;
  padding: 1rem;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.fa-angle-right:before {
  content: "\f105";
  font-size: 50px;
  color: lightblue;
}
.fa-expand {
  font-size: 23px;
  color: #012C3A;
  padding-left: 25px;
}

.collapse-card .title {
  font-size: 1rem;
  line-height: 1.8rem;
}
.collapse-card .title:before, .collapse-card .title:after {
  content: " ";
  display: table;
}
.collapse-card .title:after {
  clear: both;
}
.collapse-card .title i {
  float: left;
}
.collapse-card .title span {
  float: right;
  margin-left: 1rem;
}
.collapse-card .title strong {
  display: block;
  margin-top: 1.5rem;
  margin-left: 7rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.collapse-card .title strong::after {
  color: #404040;
  font-family: 'FontAwesome';
  padding-left: .4rem;
  font-size: 1rem;
  line-height: 1.49rem;
}
.collapse-card .body {
  padding: 1rem;
  display: none;
}
.collapse-card * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.collapse-card.active {
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
  z-index: 200;
  margin: 1rem -1rem;
}
.collapse-card.active:hover .title strong::after {
  content: "\f066";
}
.collapse-card:hover .title strong::after {
  content: "\f065";
}

.collapse-card a {
    font-size: 1.5rem;
    color:slategray;


  }
.collapse-card a:hover {
    background-color: rgb(49, 176, 213);
    //padding: 3px;
    //margin-left: 20px;
    font-size: 1.8rem;
    color: #fff;
  }


