//------------ Featured Project Checkbox

.checkbox .btn,
.checkbox-inline .btn {
  padding-left: 2em;
  min-width: 7rem;
}
.checkbox-inline {
  margin-left: -1.5em;
}
.checkbox label,
.checkbox-inline label {
  text-align: left;
}
