
        <%= form_for @education do |f| %>
    <% if @education.errors.any? %>
                <div class="topbar topbar-danger" id="error-message">
                  <div class="container">
                    <button type="button" class="close" data-dismiss="message">&times;</button>
                    <h2 class="text-center"><%= pluralize(@education.errors.count, "error") %> prevented this
                      institution from being Saved</h2><br>
                    <ol class=" notice topbar-warning">
                      <% @education.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ol>
                  </div>
                </div>
            <% end %>
            <br>

    <section id="wrapper">
        <%= f.file_field :university_logo, id:"custom-input-file" %>
    </section>
    <br>
    <div class="form-group float-label-control">
        <%= f.label :major %><br>
        <%= f.text_field :major,class:"form-control", placeholder:"Major", required:true %>
    </div>

    <div class="form-group float-label-control">
        <%= f.label :university,"School name" %><br>
        <%= f.text_field :university,class:"form-control", placeholder:"School name", required:true %>
      </div>
    <div class="form-group float-label-control">
        <%= f.label :year,"Years of Attendance" %><br>
        <%= f.text_field :year,class:"form-control", placeholder:"Years of Attendance", required:true %>
    </div>
    <%= f.submit 'Save', class: "button button_highlight button_block" %>
    <br><br><br>

<% end%>






