<% provide(:title, 'My education')%>
<%= render 'shared/info_card' %>
<br><br>

<div class="container-fluid">
  <div class="education section">
    <div class="section-inner">
      <h2 class="heading">Education
        <% if user_signed_in? %>
                <span class="new">
                    <%= link_to new_education_path,method: :get  do %>
                        <i class="fa fa-pencil  pull-right"></i>
                    <% end %>
                </span>
        <% end %>
      </h2>
      <section>
        <div class="container">
          <% @educations.each do |education| %>
              <div class="collapse-card">
                <div class="title">
                  <%= image_tag education.university_logo.url(:thumb),class:"profile_image image-responsive pull-left small-avatar img-responsive" %>

            <span>
                <i class="fa fa-angle-right"></i>
            </span>
                  <strong><%= education.major %></strong>
                </div>
                <div class="body">
                  <%= education.university %><br><span class="year"><%= education.year %></span>
            <span class="pull-right">
             &nbsp;&nbsp;
              <%= link_to  education_path(education), method: :get ,class:"pull-right" do %>
               My achievements <i class="fa fa-angle-double-right"></i>
            <% end %>&nbsp;&nbsp;
              <% if user_signed_in? %>
                    <%= link_to new_education_course_path(education),title:"add new course" do %>
                        <i class="fa fa-pencil"></i>
                    <% end %>&nbsp;&nbsp;
                  <%= link_to edit_education_path(education),title:"edit establishment"  do %>
                        <i class="fa fa-edit"></i>
                    <% end %>&nbsp;&nbsp;
                  <%= link_to education_path(education),title:"delete establishment", method: :delete, data: {confirm: "Are you sure you want to delete establishment"} do %>
                        <i class="fa fa-trash-o"></i>
                    <% end %>&nbsp;&nbsp;
                <% end %>
              </span>
                </div>
              </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div><!--//container-->
<br><br>
<br><br>

