<% provide(:title, "#{@education.university}")%>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path,class:"btn btn-info", method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to educations_path,class:"btn btn-info" do %><i class="fa"> schools</i><% end %>
          <!--<%#= link_to institution_certificates_path(@institution),class:"btn btn-info" do %><i class="fa"> certificates</i><%# end %>-->
          <%= link_to education_path(@education),class:"btn btn-info" do %><i class="fa"> <%= @education.university %></i><% end %>
          <!--<%#= link_to education_courses_path(@education),class:"btn btn-info" do %><i class="fa"> courses</i><%# end %>-->
        </div>
      </div>
      <div class="col-md-3">
        <% if user_signed_in? %>
            &nbsp;<span class="control">
                <%= link_to new_education_course_path(@education, @course), class:"active btn btn-info btn-lg pull-right" do %>
                    <i class="fa fa-edit"> Add New Course</i>
                <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </ul>
</header>

<!--Courses List-->

<div class="container-fluid">
  <div class="section">
    <div class="section-inner">
      <h2 class="heading"> Achievements</h2>
      <div class="table-responsive">
        <table class="table table-hover table-expandable table-striped ">
          <thead>
          <tr>
            <th><i class="fa fa-expand"></i></th>
            <th>Title</th>
            <th>Grade</th>

          </tr>
          </thead>
          <tbody>
          <% @courses.each do |course| %>
              <tr>
                <td><%= image_tag course.establishment_logo.url(:thumb), class:'profile_image small-avatar image-responsive'%>
                </td>
                <td><%= course.course_title %></td>
                <td><%= course.course_grade %></td>


              </tr>
              <tr>
                <td colspan="5"><h4>Title: <%= course.course_title %></h4>
                  <h6>Grade: <%= course.course_grade %></h6>
                  <h5>Establishment:  <%= course.establishment %> </h5>
                  <h5>Instructor:  <%= course.instructor %> </h5>
                  <p class="course_description"><%= course.description %></p>
                   <span class="pull-right">
             &nbsp;&nbsp;

                     <% if user_signed_in? %>

                         <%= link_to edit_education_course_path(course.education_id, course.id),title:"edit course"  do %>
                        <i class="fa fa-edit"></i>
                    <% end %>&nbsp;&nbsp;
                         <%= link_to education_course_path(course.education_id, course.id) ,title:"delete course", method: :delete, data: {confirm: "Are you sure you want to delete establishment"} do %>
                        <i class="fa fa-trash-o"></i>
                    <% end %>&nbsp;&nbsp;
                <% end %>
              </span>


                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div><!--//section-inner-->
  </div><!--//section-->
</div><!--//container-fluid-->





<script>
    (function ($) {
        $(function () {
            $('.table-expandable').each(function () {
                var table = $(this);
                table.children('thead').children('tr').append('<th></th>');
                table.children('tbody').children('tr').filter(':odd').hide();
                table.children('tbody').children('tr').filter(':even').click(function () {
                    var element = $(this);
                    element.next('tr').toggle('slow');
                    element.find(".table-expandable-arrow").toggleClass("up");
                });
                table.children('tbody').children('tr').filter(':even').each(function () {
                    var element = $(this);
                    element.append('<td><div class="table-expandable-arrow"></div></td>');
                });
            });
        });
    })(jQuery);
</script>

