<%= form_for @testimonial do |f| %>
    <% if @testimonial.errors.any? %>
        <div class="topbar topbar-danger" id="error-message">
          <div class="container">
            <button type="button" class="close" data-dismiss="message">&times;</button>
            <h2 class="text-center"><%= pluralize(@testimonial.errors.count,"error")%> prevented this testimonial from being Saved</h2><br>
            <ol class=" notice topbar-warning">
              <% @testimonial.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ol>
          </div>
        </div>
    <% end %>
    <br>
    <div class="form-group float-label-control">
      <%= f.label :name %><br>
      <%= f.text_field :name,class:"form-control", placeholder:"Your Name", required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :company,"Organization Name" %><br>
      <%= f.text_field :company,class:"form-control", placeholder:"Organization Name", required:true %>
    </div>

    <div class="form-group float-label-control">
      <%= f.label :quote, "Quote" %><br>
      <%= f.text_area :quote,class:"form-control", placeholder: "Quote", rows:1, required:true %>
    </div>

    <%= f.submit 'Save', class: "button button_highlight button_block" %>
    <br><br><br>

<% end%>
