<%provide(:title,'Edit Testimonial')%>
<!--Breadcrumb-->
<header class="header-top">
  <ul class="breadcrumb">
    <div class="row">
      <div class="col-md-9">
        <div id="bc1" class="btn-group btn-breadcrumb">
          <%= link_to root_path, class:"btn btn-info",method: :get do %><i class="fa fa-home"></i><% end %>
          <%= link_to testimonials_path,class:"btn btn-info" do %><i class="fa">testimonials</i><% end %>
          <%= link_to edit_testimonial_path,class:"btn btn-info" do %><i class="fa">edit testimonial</i><% end %>

        </div>
      </div>
    </div>
  </ul>
</header>

<div class="container-fluid">
  <div class="section">
    <div class="section-inner">
      <h2 class="heading">Edit Testimonial</h2>
      <%= render 'testimonials/form' %>
    </div>
  </div>
</div>
