<%provide(:title,'My Testimonials')%>
<%= render 'shared/info_card' %>
<br><br>
<div class="wrapper">
    <div class="testimonials  section">
      <div class="section-inner">
        <h2 class="heading ">Testimonials
          <% if user_signed_in? %>
                <span class="new">
                    <%= link_to new_testimonial_path,  method: :get  do %>
                        <i class="fa fa-pencil  pull-right"></i>
                    <% end %>
                </span>
          <% end %>
        </h2>
        <div class="content">
            <%= render 'candidates/testimonial'%>
        </div>

      </div>
      <br><br>
    </div><!--//content-->
    <br><br>
</div>
