<% provide(:title, 'Thank You') %>

<div class="container-fluid">
  <div class="section">
    <div class="section-inner">
      <h1 class=" notice text-center">Thank you so Much. You're The BEST!</h1>
      <h3 class="text-center notice">you paid <strong>$5.00</strong></h3>
    </div>
  </div>
</div>


