<% provide(:title, 'Your Donation') %>
<%= render 'shared/info_card' %>
<br><br>
<div class="wrapper">
  <div class="skills  section">
    <div class="section-inner">
      <h2 class="heading">Thanks for your Generosity</h2>
      <div>
        <%= form_tag charges_path do %>
            <article class="">

                <p class="amount">Amount: $5.00</p>

            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="A month's subscription"
                    data-amount="500"
                    data-locale="auto"></script>
        <% end %>
      </div>
    </div><!--//section-inner-->
    <br><br>
  </div><!--//section--><br><br>
</div>
