<!-- ******FOOTER****** -->
<footer class="footer clear">
  <div class="container text-center">
    <small class="copyright">Developed with <i class="fa fa-heart"></i> by <%= link_to 'Adam debbagh', new_user_session_path %></small>

  </div><!--//container-->
</footer><!--//footer-->