<!--Navigation-->

<nav class="navbar navbar-new" role="navigation">
  <div class="container-fluid">
    <!-- logo -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Adam Debbagh', root_path, method: :get, class:"navbar-brand" %>

    </div>
    <!-- menu -->
    <div class="collapse navbar-collapse navbar-right" id="navbar1">
      <ul class="nav navbar-nav">

        <% if user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path,
                            method: :delete  %></li>
            <li class=""><%= link_to 'Account', edit_user_registration_path, method: :get %></li>
        <% end %>

        <li class="active"><%= link_to 'Resume', root_path, method: :get %></li>
        <li><%= link_to 'blog', articles_path %></li>
        <li><%= link_to 'Hire', new_contact_path %></li>
      </ul>
    </div>
  </div>
</nav>


<!--//End Navigation-->
