<!DOCTYPE html>
  <html>
    <head>

      <title><%= full_title(yield(:title)) %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <meta name="resume" content="Adam debbagh is a chemist, technologist & passionate web developer...">
      <meta name="author" content="Adam debbagh">
      <%= favicon_link_tag %>
      <%= favicon_link_tag 'apple-icon.png', rel: 'apple-touch-icon', type: 'image/png'%>
      <%= csrf_meta_tags %>
      <!--Notification-->
      <script>
          $(document).ready(function(){
              setTimeout(function() {
                  $('#notice_wrapper').fadeOut("slow", function() {
                      $this.remove();
                  });
              }, 2500 );
          });
      </script>
      <!--Skillset-->
      <script>
          jQuery(document).ready(function($) {
              /*======= Skillset *=======*/
              $('.level-bar-inner').css('width', '0');
              $(window).on('load', function() {

                  $('.level-bar-inner').each(function() {

                      var itemWidth = $(this).data('level');

                      $(this).animate({
                          width: itemWidth
                      }, 800);

                  });

              });
              /* Bootstrap Tooltip for Skillset */
              $('.level-label').tooltip();
              /* Github Activity Feed - https://github.com/caseyscarborough/github-activity */
              GitHubActivity.feed({ username: "<%= @username %>" , selector: "#ghfeed" });
          });

      </script>
      <!--Breadcrumb-->
      <script>
          $(document).ready(function(){
              $(window).resize(function() {
                  ellipses1 = $("#bc1 :nth-child(2)")
                  if ($("#bc1 a:hidden").length >0) {ellipses1.show()} else {ellipses1.hide()}

                  ellipses2 = $("#bc2 :nth-child(2)")
                  if ($("#bc2 a:hidden").length >0) {ellipses2.show()} else {ellipses2.hide()}
              })
          });
      </script>
      
    </head>
    <body>
        <!--notifications-->
        <% if notice %>
            <div id="notice_wrapper">
                <p class="notice"><%= notice %></p>
            </div>
        <% elsif alert %>
            <div id="notice_wrapper">
                <p class="alert"><%= alert %></p>
            </div>
        <% end %>

        <%= render 'layouts/header' %>
        <%= yield %>
        <%= render 'layouts/footer' %>

        <!--ScrollUpToTop-->
        <script>
            !function(a){"use strcit";a.ScrollUpToTop=function(b){b=a.extend({},b);var c=a('<button id="ScrollUpToTop">^</button>').hide(),d=a(document.body);a(d).append(c),a(c).click(function(b){b.preventDefault(),a(d).animate({scrollTop:0},800)}),a(window).scroll(function(){a(window).scrollTop()>0?a(c).fadeIn():a(c).fadeOut()})},a.ScrollUpToTop()}(jQuery);
        </script>
        <!--Forms animation-->
        <script>

            (function ($) {
                $.fn.floatLabels = function (options) {

                    // Settings
                    var self = this;
                    var settings = $.extend({}, options);


                    // Event Handlers
                    function registerEventHandlers() {
                        self.on('input keyup change', 'input, textarea', function () {
                            actions.swapLabels(this);
                        });
                    }


                    // Actions
                    var actions = {
                        initialize: function() {
                            self.each(function () {
                                var $this = $(this);
                                var $label = $this.children('label');
                                var $field = $this.find('input,textarea').first();

                                if ($this.children().first().is('label')) {
                                    $this.children().first().remove();
                                    $this.append($label);
                                }

                                var placeholderText = ($field.attr('placeholder') && $field.attr('placeholder') != $label.text()) ? $field.attr('placeholder') : $label.text();

                                $label.data('placeholder-text', placeholderText);
                                $label.data('original-text', $label.text());

                                if ($field.val() == '') {
                                    $field.addClass('empty')
                                }
                            });
                        },
                        swapLabels: function (field) {
                            var $field = $(field);
                            var $label = $(field).siblings('label').first();
                            var isEmpty = Boolean($field.val());

                            if (isEmpty) {
                                $field.removeClass('empty');
                                $label.text($label.data('original-text'));
                            }
                            else {
                                $field.addClass('empty');
                                $label.text($label.data('placeholder-text'));
                            }
                        }
                    }


                    // Initialization
                    function init() {
                        registerEventHandlers();

                        actions.initialize();
                        self.each(function () {
                            actions.swapLabels($(this).find('input,textarea').first());
                        });
                    }
                    init();


                    return this;
                };

                $(function () {
                    $('.float-label-control').floatLabels();
                });
            })(jQuery);
        </script>
        <!--File Image Input-->
        <script>

            (function($){
                $.fn.simpleFileInput = function(options){
                    $('html').addClass('sfi-js');
                    return this.each(function(){
                        var defaults = {
                            placeholder: 'Pick your file',
                            wrapperClass : 'sfi-container',
                            validClass : 'sfi-valid',
                            errorClass : 'sfi-error',
                            disabledClass : 'sfi-disabled',
                            buttonText : 'Pick your file',
                            allowedExts : false, // This has to be an array
                            width : 200,
                            onInit : function(){},
                            onFileSelect : function(){},
                            onError : function(){}
                        };

                        /*
                         Init
                         */

                        var _options = $.extend(defaults, options),
                                _input  = $(this),
                                _sfiWrapper        = $('<div class="sfi-wrapper ' + _options.wrapperClass + (_input .is(':disabled') ? ' sfi-disabled' : '') + '"></div>'),
                                _sfiFileName    = $('<span class="sfi-filename empty">'+_options.placeholder+'</span>'),
                                _sfiTrigger = $('<a href="#" class="sfi-trigger">'+_options.buttonText+'</a>');

                        _options.onInit();

                        /*
                         Check if the input has been already stylised, if so then move forwards.
                         */

                        if( $(this).next('.sfi-wrapper').length ) {
                            return;
                        }

                        /*
                         Generate the DOM Elements
                         */

                        _sfiWrapper.insertAfter(_input );
                        _sfiWrapper.attr("tabindex", _input.attr("tabindex") || "0");
                        if( _options.width != false )
                            _sfiWrapper.css('width', _options.width+'px');
                        _sfiFileName.appendTo(_sfiWrapper);
                        _sfiTrigger.appendTo(_sfiWrapper);
                        _input.hide(); // Hide the old input, it still can be used in the background

                        /*
                         If the input is disabled, don't apply the events, and just move forward.
                         */

                        if(_input.is(':disabled')){
                            _sfiWrapper.addClass('.sfi-disabled');
                            return;
                        }

                        /*
                         Events &/ Triggers
                         */

                        _sfiTrigger.unbind('click').bind('click', function(e){
                            _triggerInput(e);
                        })

                        _sfiFileName.unbind('click').bind('click', function(e){
                            _triggerInput(e);
                        })

                        _input.bind('change', function(e){
                            _val = $(this).val();
                            if( _checkAllowedExtensions(_val) == true ){
                                _sfiFileName.text(_getFileName(_val));
                                _options.onFileSelect();
                                _sfiWrapper.removeClass(_options.errorClass);
                                _sfiWrapper.addClass(_options.validClass);
                            }else{
                                _options.onError();
                                _input.val('');
                                _sfiWrapper.removeClass(_options.validClass);
                                _sfiWrapper.addClass(_options.errorClass);
                            }
                        })

                        /*
                         _getFileName() : Get the selected file's name
                         */

                        function _getFileName(_fakePath){
                            var _index = (_fakePath.indexOf('\\') >= 0 ? _fakePath.lastIndexOf('\\') : _fakePath.lastIndexOf('/'));
                            var _filename = _fakePath.substring(_index);
                            if (_filename.indexOf('\\') === 0 || _filename.indexOf('/') === 0) {
                                _filename = _filename.substring(1);
                            }
                            return _filename;
                        }

                        /*
                         _triggerInput() : Trigger the click event on the hidden input
                         */

                        function _triggerInput(_e){
                            _e.preventDefault();
                            _input.trigger('click');
                        }

                        /*
                         _checkAllowedExtensions() : Check for the allowed extensions if there is, and return a valid or non-valid response.
                         */
                        function _checkAllowedExtensions(_filename){
                            var _filename = ( _filename === undefined )? '' : _filename;
                            var _allowed = _options.allowedExts,
                                    _ext = _filename.split('.').pop();

                            if( _ext == '' || _allowed == false )
                                return true;

                            if( $.inArray(_ext, _allowed)!==-1 )
                                return true;
                            else
                                return false;

                        }

                    });

                };

            })(jQuery);

            $('#custom-input-file').simpleFileInput({
                placeholder : 'Select an image',
                buttonText : 'Select',
                allowedExts : ['png', 'gif', 'jpg', 'jpeg']
            });

        </script>
        <!--Errors Message Script-->
        <script>

            (function ( $, window, document, undefined ) {

                var topBar = "topBar",
                        defaults = {
                            slide: false
                        };
                function TopBar ( element, options ) {
                    this.element = element;
                    this.settings = $.extend( {}, defaults, options );
                    this._defaults = defaults;
                    this._name = topBar;
                    this.init();
                }

                TopBar.prototype = {
                    init: function () {

                        console.log("xD");
                        $(this.element).on("click", this.close);
                    },
                    close: function () {
                        // Close the notification
                        var $parent = $(this);
                        $parent.remove();
                    }
                };

                $.fn[ topBar ] = function ( options ) {
                    return this.each(function() {
                        if ( !$.data( this, "plugin_" + topBar ) ) {
                            $.data( this, "plugin_" + topBar, new TopBar( this, options ) );
                        }
                    });
                };

            })( jQuery, window, document );

            $(function() {

                $("#error-message").topBar({
                    slide: false
                });
            });
        </script>
        <!--modal Popup-->
        <script>

            (function($) {

                //Default settings
                var settings = {
                    content: '',
                    btnClose: true
                }

                $.fn.basicpopup  = function(options) {
                    settings = $.extend(settings, options );

                    if( settings.content != '' ){
                        $.basicpopup.open( settings.content );
                    }else{
                        $.basicpopup.open( "Missing content" );
                    }
                }

                $.fn.basicpopup.open  = function( content ) {

                    var popup_HTML = '<div class="basicpopup-outer"><div class="basicpopup-inner"><div class="basicpopup-content">'+content+'</div></div></div>';
                    $('.popup-modal').find('.basicpopup-outer').remove();

                    $('.popup-modal').prepend( popup_HTML );

                    if( settings.btnClose == true ) {
                        //Add close button
                        $('.popup-modal').find('.basicpopup-content').prepend('<button class="basicpopup-btn-close">×</button>');
                    }

                    //Close popup targets
                    $('.popup-modal').on('click', '.basicpopup-content, .basicpopup-inner, .basicpopup-btn-close', function(elem){
                        if($(elem.target).is(this)){
                            $.basicpopup.close();
                        }
                    });

                    $(document).keyup(function(e) {
                        if (e.keyCode == 27) {   // esc
                            $.basicpopup.close();
                        }
                    });
                }

                $.fn.basicpopup.close  = function() {
                    $('.popup-modal').find('.basicpopup-outer').remove();
                    $('.popup-modal').off('click', '.basicpopup-content, .basicpopup-inner, .basicpopup-btn-close');
                }


                $.extend({
                    basicpopup : $.fn.basicpopup
                });

                $('#btn-open').click(function(e){

                    $.basicpopup({
                        content: $('#popup-content').html()
                    });
                    e.preventDefault();
                });

            })(jQuery);
        </script>
    </body>
  </html>
